:root {
  --c1: #eeddd3;
  --c2: #cf7225;
  --c3: #e8d1c5;
  --c4: #9d3208bc;
  --c5: #fff1e6;

  --o1: #192229;
  --o2: #212E36;
  --o3: #2A3B47;
  --o4: #A0A7AD;
  --o5: #C8CDD0;

  --feliz: #e7efa2;
  --triste: #9fd0e2;
  --enojado: #c13434;
  --ansioso: #de9c3f;
  --motivado: #b6efa2;
  --aburrido: #a677ad;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: rgb(236, 243, 243);
  font-size: 1rem;
  min-height: 100%;
  margin: 0;
}

.app {
  padding: 20px;
  background-color: rgb(236, 243, 243);
  overflow: auto;
  flex-direction: column;
  max-height: 100%;
  border-radius: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}

.app::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.app .search-section {
  margin-bottom: 20px;
  text-align: center;
}

.app .user-list-section,
.app .friends-section,
.app .requests-section {
  margin-bottom: 20px;
}

.app h2 {
  background-color: var(--c3);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.app .friends-section,
.app .requests-section {
  margin-bottom: 20px;
}

.app .user-item,
.app .friend-item,
.app .request-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f9f9;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.app .user-item,
.app .friend-name,
.app .request-name {
  font-size: 1.2em;
}

.app .add-button,
.app .eliminar-button,
.app .yes-button,
.app .no-button {
  background-color: #c6765e;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.app .add-button:hover,
.app .eliminar-button:hover,
.app .no-button:hover {
  background-color: #a85d4a;
}

.app .yes-button:hover {
  background-color: #c89332;
}

.app .yes-button {
  background-color: #d4b06e;
}

.app .no-button {
  background-color: #c6765e;
}

.app .buttons {
  display: flex;
  gap: 10px;
}

.app .empty-message {
  text-align: center;
  color: var(--c4);
  font-size: 1.2em;
  margin-top: 10px;
}

.app .search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #c6765e;
  font-family: "Mukta", sans-serif;
  margin-bottom: 0.5rem;
}

.app .user-name {
  font-weight: normal;
}
