:root {
  --border: 20px;
  --border2: 1rem;
  --shadow: 1px 1px 3px .5px;

  /* Colores de fondo claros */
  --c1: #46313d;
  --c2: #5f404d;
  --c3: #845d5f;
  --c4: #b77e78;
  --c5: #dcae8f;

  /* Colores de fondo oscuros */
  --o1: #1a0e15;
  --o2: #2d1a22;
  --o3: #4e2f30;
  --o4: #6e4b3b;
  --o5: #8f6c4f;

  /* Colores de texto ajustados */
  --textc1: #dcae8f;
  --textc2: #dcae8f;
  --textc3: #dcae8f;
  --textc4: #46313d;
  --textc5: #46313d;

  --textoO1: #8f6c4f;
  --textoO2: #8f6c4f;
  --textoO3: #8f6c4f;
  --textoO4: #1a0e15;
  --textoO5: #1a0e15;

  --feliz: #f4d35e;
  --triste: #7289da;
  --enojado: #d9534f;
  --ansioso: #e9967a;
  --motivado: #88c399;
  --aburrido: #495057;

  --txtfeliz: #654e04;
  --txttriste: #092380;
  --txtenojado: #5b1209;
  --txtansioso: #532407;
  --txtmotivado: #072505;
  --txtaburrido: #0e1a27;

  --eliminar: #d9534f;
  --aceptar: #856f2a;


}


body {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  min-height: 100%;
  margin: 0;
}

.app {
  padding: 20px;
  background-color: var(--c3);
  overflow: auto;
  flex-direction: column;
  max-height: 100%;
  border-radius: 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}


.app::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.app .search-section {
  margin-bottom: 20px;
  text-align: center;
}

.app .user-list-section,
.app .friends-section,
.app .requests-section {
  margin-bottom: 20px;
}

.app h2 {
  background-color: var(--c3);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

.app .friends-section,
.app .requests-section {
  margin-bottom: 20px;
}

.app .user-item,
.app .friend-item,
.app .request-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f9f9;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.app .add-button{
  background-color: var(--c3);
  color: var(--textc3);
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.app .eliminar-button,
.app .yes-button,
.app .no-button {
  background-color: var(--eliminar);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.app .add-button:hover,
.app .eliminar-button:hover,
.app .no-button:hover {
  background-color: var(--c1);
}

.app .yes-button:hover {
  background-color: var(--c3);
}

.app .yes-button {
  background-color: var(--c5);
}

.app .no-button {
  background-color: var(--eliminar);
}

.app .buttons {
  display: flex;
  gap: 10px;
}

.app .empty-message {
  text-align: center;
  color: var(--c1);
  font-size: 1.2em;
  margin-top: 10px;
}

.app .search-bar {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #c6765e;
  font-family: "Mukta", sans-serif;
  margin-bottom: 0.5rem;
  background-color: var(--c5);
  border-color: var(--c5);
}

.app .user-name {
  font-weight: normal;
}

.app h2 {
  background-color: var(--c1);
  color: var(--textc1);
}
.app .user-item,
.app .friend-item,
.app .request-item {
  font-size: 1.2em;
  background-color: var(--c4);
  color: var(--textc5);
}
