:root {
    --c1: #eeddd3;
    --c2: #cf7225;
    --c3: #e8d1c5;
    --c4: #9d3208bc;
    --c5: #fff1e6;

    --o1: #192229;
    --o2: #212E36;
    --o3: #2A3B47;
    --o4: #A0A7AD;
    --o5: #C8CDD0;

    --feliz: #e7efa2;
    --triste: #9fd0e2;
    --enojado: #c13434;
    --ansioso: #de9c3f;
    --motivado: #b6efa2;
    --aburrido: #a677ad;
}

body {
    font-family: "Mukta", sans-serif;
    background-color: rgb(236, 243, 243);
    font-size: 1rem;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    overflow: auto;
    flex-direction: column;
    max-height: 100%;
    border-radius: 10px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 

    .app::-webkit-scrollbar {
        display: none; /* Chrome, Safari y Opera */
    }

    .section {
        background-color: #F7DACD;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
        color: #4A3C31;
    }

    /* Filtros de análisis por edades */
    .filter-container {
        gap: 10px;
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .filter {
        padding: 8px 12px;
        background-color: #F1EDE8;
        border-radius: 20px;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s;
        color: #192229; /* Texto negro en el botón */
    }

    .filter.selected {
        background-color: #C8B9A6;
        color: #192229; /* Texto negro en el botón seleccionado */
    }

    .filter:hover {
        background-color: #D4C5A8;
        color: #192229; /* Texto negro en el botón al pasar el mouse */
    }

    /* Gráficos de barras */
    .bar-chart {
        background-color: #F7DACD;
        padding: 30px;
        border-radius: 10px;
    }

    .bar-chart-placeholder {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed #C8B9A6;
        border-radius: 10px;
        color: #4A3C31;
    }

    /* Ciudades */
    .cities {
        background-color: #ECE1BF;
    }

    .city-container {
        display: flex;
        gap: 20px;
    }

    .city {
        background-color: #F1EDE8;
        padding: 10px 20px;
        border-radius: 15px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        border: none;
        color: #192229; /* Texto negro en el botón de ciudades */
    }

    .city.selected {
        background-color: #C8B9A6;
        color: #192229; /* Texto negro en el botón de ciudad seleccionado */
    }

    .city:hover {
        background-color: #D4C5A8;
        color: #192229; /* Texto negro en el botón de ciudad al pasar el mouse */
    }
}
