@charset "UTF-8";
:root {
  --border: 20px;
  --border2: 1rem;
  --shadow: 1px 1px 3px .5px;
  /* Colores de fondo claros */
  --c1: #46313d;
  --c2: #5f404d;
  --c3: #845d5f;
  --c4: #b77e78;
  --c5: #dcae8f;
  /* Colores de fondo oscuros */
  --o1: #1a0e15;
  --o2: #2d1a22;
  --o3: #4e2f30;
  --o4: #6e4b3b;
  --o5: #8f6c4f;
  /* Colores de texto ajustados */
  --textc1: #dcae8f;
  --textc2: #dcae8f;
  --textc3: #dcae8f;
  --textc4: #46313d;
  --textc5: #46313d;
  --textoO1: #8f6c4f;
  --textoO2: #8f6c4f;
  --textoO3: #8f6c4f;
  --textoO4: #1a0e15;
  --textoO5: #1a0e15;
  --feliz: #f4d35e;
  --triste: #7289da;
  --enojado: #d9534f;
  --ansioso: #e9967a;
  --motivado: #88c399;
  --aburrido: #495057;
  --txtfeliz: #654e04;
  --txttriste: #092380;
  --txtenojado: #5b1209;
  --txtansioso: #532407;
  --txtmotivado: #072505;
  --txtaburrido: #0e1a27;
  --eliminar: #d9534f;
  --aceptar: #856f2a;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: rgb(236, 243, 243);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.container-analisis {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  /* Filtros de análisis por edades */
  /* Gráficos de barras */
  /* Ciudades */
  /* Sección de las ciudades - Títulos */
  /* Contenedor de las ciudades */
  /* Estilo para cada ciudad en la lista */
  /* Efecto hover para las ciudades */
  /* Estilo para la ciudad en el primer lugar */
  /* Ícono o marcador de ranking */
  /* Flexibilidad para mostrar los datos */
  /* Botones de filtro para emociones */
  /* Ciudad número 1 según la emoción */
}
.container-analisis .app::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}
.container-analisis .section {
  background-color: var(--c1);
  border-radius: var(--border);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 20px;
  padding: 1rem;
}
.container-analisis h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: var(--textc1);
}
.container-analisis .filter-container {
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  color: var(--c1);
}
.container-analisis .filter {
  padding: 8px 12px;
  background-color: rgba(241, 237, 232, 0.6196078431);
  border-radius: var(--border2);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  color: var(--c1);
}
.container-analisis .filter.selected {
  background-color: var(--c5);
  color: var(--textc5); /* Texto negro en el botón seleccionado */
}
.container-analisis .filter:hover {
  background-color: var(--c5);
  color: var(--textc5); /* Texto negro en el botón al pasar el mouse */
}
.container-analisis .Feliz.selected {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.container-analisis .Feliz:hover {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.container-analisis .Triste.selected {
  background-color: var(--triste);
  color: var(--txttriste);
}
.container-analisis .Triste:hover {
  background-color: var(--triste);
  color: var(--txttriste);
}
.container-analisis .Enojado.selected {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.container-analisis .Enojado:hover {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.container-analisis .Ansioso.selected {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.container-analisis .Ansioso:hover {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.container-analisis .Motivado.selected {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.container-analisis .Motivado:hover {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.container-analisis .Aburrido.selected {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.container-analisis .Aburrido:hover {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.container-analisis .bar-chart {
  background-color: #F7DACD;
  padding: 30px;
  border-radius: var(--border2);
}
.container-analisis .bar-chart-placeholder {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #C8B9A6;
  border-radius: var(--border2);
  color: #4A3C31;
}
.container-analisis .cities {
  background-color: var(--c3);
  color: var(--textc3);
}
.container-analisis .city-container {
  display: flex;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 20px;
  color: var(--textc3);
}
.container-analisis .city {
  background-color: rgba(217, 216, 214, 0.8549019608);
  padding: 10px 20px;
  border-radius: var(--border);
  font-weight: bold;
  cursor: default;
  border: none;
  color: #192229; /* Texto negro en el botón de ciudades */
}
.container-analisis .city-container .city:first-child {
  background-color: #f0e68c;
  font-weight: bold;
  color: var(--c1);
}
.container-analisis .city-container .city:first-child.Feliz {
  background-color: var(--feliz);
}
.container-analisis .city-container .city:first-child.Triste {
  background-color: var(--triste);
}
.container-analisis .city-container .city:first-child.Enojado {
  background-color: var(--enojado);
}
.container-analisis .city-container .city:first-child.Ansioso {
  background-color: var(--ansioso);
}
.container-analisis .city-container .city:first-child.Motivado {
  background-color: var(--motivado);
}
.container-analisis .city-container .city:first-child.Aburrido {
  background-color: var(--aburrido);
}
.container-analisis .gender-filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.container-analisis .gender-filter label {
  margin-right: 10px;
  color: var(--textc1);
  font-weight: bold;
}
.container-analisis .gender-filter select {
  padding: 8px 12px;
  background-color: rgba(241, 237, 232, 0.6196078431);
  border-radius: var(--border2);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  color: var(--c1);
}
.container-analisis .gender-filter select:hover {
  background-color: var(--c5);
  color: var(--textc5);
}
.container-analisis .gender-filter select:focus {
  outline: none;
  box-shadow: 0 0 5px var(--c5);
}
.container-analisis .top-cities-section h3 {
  color: var(--textc1);
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}
.container-analisis .top-cities-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container-analisis .top-cities-section ul li {
  background-color: var(--c3);
  color: var(--textc3);
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: var(--border2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow) rgba(0, 0, 0, 0.2);
  font-size: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.container-analisis .top-cities-section ul li:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.container-analisis .top-cities-section ul li:first-child {
  background-color: var(--feliz); /* Puedes ajustar este color */
  color: var(--txtfeliz); /* Texto resaltado */
  font-weight: bold;
  border: 2px solid var(--txtfeliz); /* Borde para destacar */
}
.container-analisis .top-cities-section ul li::before {
  content: "";
  margin-right: 10px;
  font-size: 18px;
  color: black;
}
.container-analisis .top-cities-section ul li strong {
  margin-right: 10px;
  color: var(--textc3);
}
.container-analisis .top-cities-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.container-analisis .top-cities-filter button {
  padding: 8px 12px;
  background-color: rgba(241, 237, 232, 0.6196078431);
  border-radius: var(--border2);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  color: var(--c1);
}
.container-analisis .top-cities-filter button.selected {
  background-color: var(--c5);
  color: var(--textc5);
}
.container-analisis .top-cities-filter button:hover {
  background-color: var(--c5);
  color: var(--textc5);
}
.container-analisis .top-cities-section {
  margin-top: 20px;
  background-color: var(--c2);
  border-radius: var(--border);
  padding: 1rem;
}
.container-analisis .top-cities-section h3 {
  color: var(--textc1);
  font-size: 20px;
  margin-bottom: 15px;
}
.container-analisis .city-list {
  list-style: none;
  padding: 0;
}
.container-analisis .city-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--c3);
  color: var(--textc3);
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: transform 0.2s;
}
.container-analisis .city-list li:first-child {
  background-color: var(--feliz); /* Cambiar este color según la emoción seleccionada */
  color: var(--txtfeliz);
}
.container-analisis .city-list li:first-child.Triste {
  background-color: var(--triste);
  color: var(--txttriste);
}
.container-analisis .city-list li:first-child.Enojado {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.container-analisis .city-list li:first-child.Ansioso {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.container-analisis .city-list li:first-child.Motivado {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.container-analisis .city-list li:first-child.Aburrido {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.container-analisis .city-list li:hover {
  transform: translateY(-2px);
  background-color: var(--c4);
  color: var(--textc4);
}
.container-analisis .filter-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.container-analisis .filter {
  padding: 8px 12px;
  background-color: rgba(241, 237, 232, 0.8);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}
.container-analisis .filter:hover {
  background-color: var(--c5);
  color: var(--textc5);
}
.container-analisis .filter.selected {
  background-color: var(--c5);
  color: var(--textc5);
}
.container-analisis .filter.Feliz.selected {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.container-analisis .filter.Triste.selected {
  background-color: var(--triste);
  color: var(--txttriste);
}
.container-analisis .filter.Enojado.selected {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.container-analisis .top-cities-section ul li.Feliz {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.container-analisis .top-cities-section ul li.Triste {
  background-color: var(--triste);
  color: var(--txttriste);
}
.container-analisis .top-cities-section ul li.Enojado {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.container-analisis .top-cities-section ul li.Ansioso {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.container-analisis .top-cities-section ul li.Motivado {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.container-analisis .top-cities-section ul li.Aburrido {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}/*# sourceMappingURL=analisis.css.map */