:root {
  --border: 20px;
  --border2: 1rem;
  --shadow: 1px 1px 3px .5px;
  /* Colores de fondo claros */
  --c1: #46313d;
  --c2: #5f404d;
  --c3: #845d5f;
  --c4: #b77e78;
  --c5: #dcae8f;
  /* Colores de fondo oscuros */
  --o1: #1a0e15;
  --o2: #2d1a22;
  --o3: #4e2f30;
  --o4: #6e4b3b;
  --o5: #8f6c4f;
  /* Colores de texto ajustados */
  --textc1: #dcae8f;
  --textc2: #dcae8f;
  --textc3: #dcae8f;
  --textc4: #46313d;
  --textc5: #46313d;
  --textoO1: #8f6c4f;
  --textoO2: #8f6c4f;
  --textoO3: #8f6c4f;
  --textoO4: #1a0e15;
  --textoO5: #1a0e15;
  --feliz: #f4d35e;
  --triste: #7289da;
  --enojado: #d9534f;
  --ansioso: #e9967a;
  --motivado: #88c399;
  --aburrido: #495057;
  --txtfeliz: #654e04;
  --txttriste: #092380;
  --txtenojado: #5b1209;
  --txtansioso: #532407;
  --txtmotivado: #072505;
  --txtaburrido: #0e1a27;
  --eliminar: #d9534f;
  --aceptar: #856f2a;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: rgba(128, 128, 128, 0.237);
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  min-height: 100%;
  margin: 0;
}

img {
  width: auto;
  height: 8vh;
}

.grid-container > * {
  padding: 10px;
  text-align: center;
}

.info {
  grid-area: main;
  background-color: rgba(128, 128, 128, 0.26);
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--c1);
  display: grid;
  grid-template-rows: 3.5vh 11vh 2vh 15vh 55vh 10vh;
  grid-template-areas: "a3" "a1" "." "a2" "a4" "a5";
  grid-template-columns: 100%;
}
.sidebar .profileContainer {
  grid-area: a1;
  background-color: var(--c3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0.5rem;
  border-radius: var(--border);
  box-shadow: var(--shadow) var(--c4);
}
.sidebar .profileContainer img {
  margin-left: 0.7rem;
}
.sidebar .profileContainer .profileContents {
  padding-left: 0.5rem;
}
.sidebar .profileContainer .profileContents h3.name {
  margin: 0;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  font-size: 1.7rem;
  color: var(--textc3);
}
.sidebar .rachaContainer {
  grid-area: a2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--c3);
  border-radius: var(--border);
  margin: 0.5rem;
  box-shadow: var(--shadow) var(--c4);
}
.sidebar .rachaContainer img {
  margin-left: 0.2rem;
}
.sidebar .rachaContainer .profileContents {
  padding: 1rem 0 0 0.5rem;
}
.sidebar .rachaContainer .profileContents .dias {
  display: flex;
  gap: 0.4rem;
  font-size: 1.3rem;
}
.sidebar .rachaContainer .profileContents p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1;
}
.sidebar .rachaContainer .profileContents h3.texto3 {
  margin: 0;
  padding: 0 0 0.7rem 0;
  font-weight: 700;
  line-height: 1;
  color: var(--textc3);
  font-size: 1.8rem;
}
.sidebar .burgerContainer {
  grid-area: a3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}
.sidebar .burgerContainer .burgerTrigger .img {
  width: 0.8rem;
  height: 1.5rem;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: var(--c4);
}
.sidebar .burgerContainer .burgerTrigger .sun {
  display: none;
}
.sidebar .contentsContainer {
  grid-area: a4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .contentsContainer ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  padding: 1rem;
  margin: 0.6rem;
  border-radius: var(--border);
  background-color: var(--c3);
  height: 85%;
  width: 100%;
  box-shadow: var(--shadow) var(--c4);
}
.sidebar .contentsContainer ul li {
  background-color: var(--c1);
  border-radius: var(--border2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin: 0.2rem 0 0.2rem 0rem;
  padding: 0.3rem;
  width: 100%;
  height: 6.5vh;
}
.sidebar .contentsContainer ul li .icono {
  padding-right: 0.4rem;
  width: auto;
  height: 1.2rem;
  margin-left: 0.2rem;
  color: var(--c4);
}
.sidebar .contentsContainer ul li a {
  display: flex;
  text-decoration: none;
  color: var(--textc1);
  font-weight: 500;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0.5rem;
}
.sidebar .contentsContainer ul li span {
  font-size: 1rem;
  padding: 0 0.3rem 0 0;
}
.sidebar .contentsContainer ul li.active {
  background-color: var(--c5);
}
.sidebar .contentsContainer ul li.active a {
  color: var(--textc5);
}
.sidebar .contentsContainer ul li.active .icono {
  color: var(--textc5);
}
.sidebar .contentsContainer ul li:hover {
  background-color: var(--c5);
  transition: 0.25s all;
}
.sidebar .contentsContainer ul li:hover a {
  color: var(--textc5);
}
.sidebar .contentsContainer ul li:hover .icono {
  color: var(--textc5);
}
.sidebar .logoContainer {
  grid-area: a5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .logoContainer h2.title {
  font-size: 25.42px;
  padding: 0 0 0 1rem;
  color: var(--textc1);
  font-weight: 700;
}

.sidebar.active {
  background-color: var(--o1);
}
.sidebar.active .profileContainer {
  background-color: var(--o3);
  box-shadow: var(--shadow) var(--o4);
}
.sidebar.active .profileContainer .profileContents h3.name {
  color: var(--textoO3);
}
.sidebar.active .rachaContainer {
  background-color: var(--o3);
  box-shadow: var(--shadow) var(--o4);
}
.sidebar.active .rachaContainer .profileContents .dias {
  color: var(--textoO4);
}
.sidebar.active .rachaContainer .profileContents h3.texto3 {
  color: var(--textoO3);
}
.sidebar.active .burgerContainer .burgerTrigger .img {
  width: 1rem;
  color: var(--o5);
}
.sidebar.active .burgerContainer .burgerTrigger .sun {
  display: flex;
}
.sidebar.active .burgerContainer .burgerTrigger .moon {
  display: none;
}
.sidebar.active .contentsContainer ul {
  background-color: var(--o3);
  box-shadow: var(--shadow) var(--o4);
}
.sidebar.active .contentsContainer ul li {
  background-color: var(--o4);
}
.sidebar.active .contentsContainer ul li a {
  color: var(--o2);
}
.sidebar.active .contentsContainer ul li .icono {
  color: var(--o2);
}
.sidebar.active .contentsContainer ul li.active {
  background-color: var(--o5);
}
.sidebar.active .contentsContainer ul li.active a {
  color: var(--o1);
}
.sidebar.active .contentsContainer ul li.active .icono {
  color: var(--o1);
}
.sidebar.active .contentsContainer ul li:hover {
  background-color: var(--o5);
  transition: 0.25s all;
}
.sidebar.active .contentsContainer ul li:hover a {
  color: var(--o1);
}
.sidebar.active .contentsContainer ul li:hover .icono {
  color: var(--o1);
}
.sidebar.active .logoContainer h2.title {
  color: var(--o5);
}

.info.active {
  grid-area: main;
  background-color: var(--o3);
  color: var(--textoO3);
}
.info.active .container-custom .post-display-col {
  background-color: var(--o2);
  box-shadow: var(--shadow) var(--o3);
}
.info.active .container-custom .btn-general.active,
.info.active .container-custom .btn-select.active,
.info.active .container-custom .btn-emotion.active {
  background-color: var(--o2);
  color: var(--textoO2);
}
.info.active .container-custom .btn-select {
  background-color: var(--o3);
  border-color: var(--o3);
  color: var(--textoO4);
}
.info.active .container-custom .row-create-post {
  background-color: var(--o3);
}
.info.active .container-custom .btn-general {
  background-color: rgba(193, 187, 187, 0.717);
  color: #000000;
}
.info.active .container-custom .btn-general.general.active {
  background-color: var(--o2);
  color: var(--textoO2);
}
.info.active .container-custom .btn-general.general:hover,
.info.active .container-custom .btn-general.general:focus:hover,
.info.active .container-custom .btn-general.general:active:hover {
  background-color: var(--o2);
  color: var(--textoO2);
}
.info.active .container-custom .btn-general.feliz.active {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.info.active .container-custom .btn-general.feliz:hover,
.info.active .container-custom .btn-general.feliz:focus,
.info.active .container-custom .btn-general.feliz.active {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.info.active .container-custom .btn-general.triste.active {
  background-color: var(--triste);
  color: var(--txttriste);
}
.info.active .container-custom .btn-general.triste:hover,
.info.active .container-custom .btn-general.triste:focus,
.info.active .container-custom .btn-general.triste.active {
  background-color: var(--triste);
  color: var(--txttriste);
}
.info.active .container-custom .btn-general.enojado.active {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.info.active .container-custom .btn-general.enojado:hover,
.info.active .container-custom .btn-general.enojado:focus,
.info.active .container-custom .btn-general.enojado.active {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.info.active .container-custom .btn-general.ansioso.active {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.info.active .container-custom .btn-general.ansioso:hover,
.info.active .container-custom .btn-general.ansioso:focus,
.info.active .container-custom .btn-general.ansioso.active {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.info.active .container-custom .btn-general.motivado.active {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.info.active .container-custom .btn-general.motivado:hover,
.info.active .container-custom .btn-general.motivado:focus,
.info.active .container-custom .btn-general.motivado.active {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.info.active .container-custom .btn-general.aburrido.active {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.info.active .container-custom .btn-general.aburrido:hover,
.info.active .container-custom .btn-general.aburrido:focus,
.info.active .container-custom .btn-general.aburrido.active {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.info.active .container-custom .btn-general {
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 1rem;
}
.info.active .container-custom .btn-emotion.feliz.active {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.info.active .container-custom .btn-emotion.feliz:hover,
.info.active .container-custom .btn-emotion.feliz:focus,
.info.active .container-custom .btn-emotion.feliz.active {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.info.active .container-custom .btn-emotion.triste.active {
  background-color: var(--triste);
  color: var(--txttriste);
}
.info.active .container-custom .btn-emotion.triste:hover,
.info.active .container-custom .btn-emotion.triste:focus,
.info.active .container-custom .btn-emotion.triste.active {
  background-color: var(--triste);
  color: var(--txttriste);
}
.info.active .container-custom .btn-emotion.enojado.active {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.info.active .container-custom .btn-emotion.enojado:hover,
.info.active .container-custom .btn-emotion.enojado:focus,
.info.active .container-custom .btn-emotion.enojado.active {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.info.active .container-custom .btn-emotion.ansioso.active {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.info.active .container-custom .btn-emotion.ansioso:hover,
.info.active .container-custom .btn-emotion.ansioso:focus,
.info.active .container-custom .btn-emotion.ansioso.active {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.info.active .container-custom .btn-emotion.motivado.active {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.info.active .container-custom .btn-emotion.motivado:hover,
.info.active .container-custom .btn-emotion.motivado:focus,
.info.active .container-custom .btn-emotion.motivado.active {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.info.active .container-custom .btn-emotion.aburrido.active {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.info.active .container-custom .btn-emotion.aburrido:hover,
.info.active .container-custom .btn-emotion.aburrido:focus,
.info.active .container-custom .btn-emotion.aburrido.active {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.info.active .container-custom .btn-emotion {
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 1rem;
}
.info.active .container-custom textarea.custom-textarea {
  background-color: var(--o5);
  color: var(--textoO4);
}
.info.active .container-custom textarea.custom-textarea:focus {
  background-color: var(--o2);
  color: var(--textoO1);
}
.info.active .icon {
  color: var(--o5);
  width: 25px;
}
.info.active .app {
  background-color: var(--o2);
}
.info.active .app h2 {
  background-color: var(--o1);
  color: var(--textoO1);
}
.info.active .app .user-item,
.info.active .app .friend-item,
.info.active .app .request-item {
  background-color: var(--o3);
  color: var(--textoO3);
}
.info.active .app .eliminar-button:hover,
.info.active .app .no-button:hover {
  background-color: var(--eliminar);
}
.info.active .app .yes-button:hover {
  background-color: var(--aceptar);
}
.info.active .app .yes-button {
  background-color: var(--o5);
}
.info.active .app .add-button {
  background-color: var(--o5);
}
.info.active .app .no-button {
  background-color: var(--o1);
}
.info.active .app .eliminar-button {
  background-color: var(--o1);
}
.info.active .app .empty-message {
  color: var(--textoO1);
}
.info.active .app .search-bar {
  background-color: var(--o5);
  border: 2px solid var(--o3);
  color: var(--textoO5);
}
.info.active .app input::-moz-placeholder {
  color: var(--o1);
}
.info.active .app input::placeholder {
  color: var(--o1);
}
.info.active .gridPersonal .rachaContainer {
  background-color: var(--o1);
  box-shadow: var(--shadow) var(--o4);
}
.info.active .gridPersonal .rachaContainer .profileContents .dias {
  color: var(--textoO1);
}
.info.active .gridPersonal .rachaContainer .profileContents h3.texto3 {
  color: var(--textoO3);
}
.info.active .gridPersonal .infoPer h2 {
  background-color: var(--o1);
  box-shadow: var(--shadow) var(--o1);
}
.info.active .gridPersonal .infoPer .general {
  background-color: var(--o1);
  box-shadow: var(--shadow) var(--o1);
}
.info.active .gridPersonal .infoPer .general .emotions-container {
  background-color: var(--o2);
  box-shadow: 1px 1px 6px 0px var(--o2);
}
.info.active .gridPersonal .infoPer .general .emotions-container .emotion {
  background-color: var(--o4);
}
.info.active .gridPersonal .infoPer .general .emotions-container .emotion:hover {
  background-color: var(--o5);
}
.info.active .gridPersonal .infoPer .general .emotions-container .active {
  background-color: var(--o5);
  /* Color diferente para el emoji activo */
}
.info.active .gridPersonal .infoPer .ubicacion {
  background-color: var(--o1);
  box-shadow: 1px 1px 6px 0px var(--o1);
}
.info.active .gridPersonal .publicaciones {
  background-color: transparent;
  box-shadow: none;
}
.info.active .gridPersonal .post-display-col {
  background-color: var(--o1);
  box-shadow: var(--shadow) var(--o4);
}

.grid-container {
  display: grid;
  gap: 0px;
  grid-template-columns: 13.5rem auto;
  grid-template-rows: 100vh;
  grid-template-areas: "sidebar main";
}

.auth-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 0rem;
}

@media (max-width: 700px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }
  body {
    font-family: "Mukta", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    margin: 0;
  }
  .sidebar {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    grid-area: sidebar;
    background-color: var(--c1);
    display: grid;
    grid-template-columns: 4% 10% 2% 10% auto;
    grid-template-rows: 3rem;
    grid-template-areas: "a3 a1 . a2 a4";
    margin: 0;
    padding: 0.5rem 0;
  }
  .sidebar img {
    width: auto;
    height: 2rem;
  }
  .sidebar .profileContainer {
    grid-area: a1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: auto;
    width: 100%;
    box-shadow: none;
  }
  .sidebar .profileContainer img {
    margin-left: 0.1rem;
  }
  .sidebar .profileContainer .profileContents {
    padding-left: 0;
  }
  .sidebar .profileContainer .profileContents h3.name {
    display: none;
  }
  .sidebar .rachaContainer {
    grid-area: a2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--c3);
    border-radius: var(--border2);
    margin: 0;
    box-shadow: var(--shadow) var(--c4);
    height: auto;
    width: 100%;
  }
  .sidebar .rachaContainer img {
    margin-left: 0;
    margin-top: 0;
    width: auto;
    height: 1.6rem;
  }
  .sidebar .rachaContainer .profileContents {
    padding: 0;
  }
  .sidebar .rachaContainer .profileContents .dias {
    display: flex;
    font-size: 1rem;
  }
  .sidebar .rachaContainer .profileContents p.texto1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
    line-height: 1;
  }
  .sidebar .rachaContainer .profileContents p.texto2 {
    display: none;
  }
  .sidebar .rachaContainer .profileContents h3.texto3 {
    display: none;
  }
  .sidebar .burgerContainer {
    grid-area: a3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
  }
  .sidebar .burgerContainer .burgerTrigger .img {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: var(--c4);
  }
  .sidebar .contentsContainer {
    grid-area: a4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .sidebar .contentsContainer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    padding: 0.5rem;
    border-radius: var(--border2);
    margin: 0.7rem;
    background-color: var(--c3);
    height: 100%;
    width: 100%;
    box-shadow: var(--shadow) var(--c4);
    gap: 5px;
  }
  .sidebar .contentsContainer ul li {
    background-color: var(--c1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 20%;
    height: 2rem;
    border-radius: var(--border2);
  }
  .sidebar .contentsContainer ul li .icono {
    padding-right: 0;
    width: auto;
    height: 1.3rem;
    margin-left: 0;
    color: var(--c4);
  }
  .sidebar .contentsContainer ul li a {
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
  }
  .sidebar .contentsContainer ul li span {
    display: none;
  }
  .sidebar .contentsContainer ul li.active {
    background-color: var(--c5);
  }
  .sidebar .contentsContainer ul li.active a {
    color: var(--c4);
  }
  .sidebar .contentsContainer ul li:hover {
    background-color: var(--c5);
    transition: 0.25s all;
  }
  .sidebar .contentsContainer ul li:hover a {
    color: var(--c4);
  }
  .sidebar .logoContainer {
    display: none;
  }
  .sidebar.active {
    background-color: var(--o1);
  }
  .sidebar.active .profileContainer {
    background-color: transparent;
    box-shadow: none;
  }
  .sidebar.active .profileContainer h3 {
    color: var(--o5);
  }
  .sidebar.active .rachaContainer {
    background-color: var(--o3);
    box-shadow: var(--shadow) var(--o3);
  }
  .sidebar.active .rachaContainer .profileContents {
    padding: 0;
  }
  .sidebar.active .rachaContainer .profileContents .dias {
    color: var(--o5);
  }
  .sidebar.active .rachaContainer .profileContents h3.texto3 {
    color: var(--c2);
  }
  .sidebar.active .burgerContainer .burgerTrigger .img {
    width: 1rem;
    color: var(--o5);
  }
  .sidebar.active .contentsContainer ul {
    background-color: var(--o3);
    box-shadow: var(--shadow) var(--o3);
  }
  .sidebar.active .contentsContainer ul li {
    background-color: var(--o4);
  }
  .sidebar.active .contentsContainer ul li a {
    color: var(--o2);
  }
  .sidebar.active .contentsContainer ul li .icono {
    color: var(--o3);
  }
  .sidebar.active .contentsContainer ul li.active {
    background-color: var(--o5);
  }
  .sidebar.active .contentsContainer ul li.active a {
    color: var(--o3);
  }
  .sidebar.active .contentsContainer ul li:hover {
    background-color: var(--o5);
    transition: 0.25s all;
  }
  .sidebar.active .contentsContainer ul li:hover a {
    color: var(--o3);
  }
  .sidebar.active .logoContainer h2.title {
    color: var(--o5);
  }
  .info {
    grid-area: main;
    background-color: rgba(128, 128, 128, 0.114);
    width: 100%;
    height: 100%;
  }
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template: "main" auto "sidebar" 3rem;
  }
}
@media (max-width: 290px) {
  .info {
    grid-area: main;
    background-color: rgba(128, 128, 128, 0.114);
    width: 100%;
    height: 100%;
  }
  .grid-container {
    display: grid;
    gap: 15px;
    grid-template: "main" auto "sidebar" 3rem;
  }
}
@media (max-width: 275px) {
  .info {
    grid-area: main;
    background-color: rgba(128, 128, 128, 0.114);
    width: 100%;
    height: 100%;
  }
  .grid-container {
    display: grid;
    gap: 15px;
    grid-template: "main" auto "sidebar" 3rem;
  }
}
@media (max-width: 250px) {
  .info {
    grid-area: main;
    background-color: rgba(128, 128, 128, 0.114);
    width: 100%;
    height: 100%;
  }
  .grid-container {
    display: grid;
    gap: 15px;
    grid-template: "main" auto "sidebar" 3rem;
  }
}
@media (max-width: 230px) {
  .info {
    grid-area: main;
    background-color: rgba(128, 128, 128, 0.114);
    width: 100%;
    height: 100%;
  }
  .grid-container {
    display: grid;
    gap: 15px;
    grid-template: "main" auto "sidebar" 3rem;
  }
}/*# sourceMappingURL=i2.css.map */