:root {
    // --c1: #eeddd3;
    // --c2: #cf7225;
    // --c3: #e8d1c5;
    // --c4: #9d3208bc;
    // --c5: #fff1e6;

    // --o1: #192229;
    // --o2: #212E36;
    // --o3: #2A3B47;
    // --o4: #A0A7AD;
    // --o5: #C8CDD0;

    --border: 20px;
    --border2: 1rem;
    --shadow: 1px 1px 3px .5px;

    /* Colores de fondo claros */
    --c1: #46313d;
    --c2: #5f404d;
    --c3: #845d5f;
    --c4: #b77e78;
    --c5: #dcae8f;

    /* Colores de fondo oscuros */
    --o1: #1a0e15;
    --o2: #2d1a22;
    --o3: #4e2f30;
    --o4: #6e4b3b;
    --o5: #8f6c4f;

    /* Colores de texto ajustados */
    --textc1: #dcae8f;
    --textc2: #dcae8f;
    --textc3: #dcae8f;
    --textc4: #46313d;
    --textc5: #46313d;

    --textoO1: #8f6c4f;
    --textoO2: #8f6c4f;
    --textoO3: #8f6c4f;
    --textoO4: #1a0e15;
    --textoO5: #1a0e15;

    --feliz: #f4d35e;
    --triste: #7289da;
    --enojado: #d9534f;
    --ansioso: #e9967a;
    --motivado: #88c399;
    --aburrido: #495057;

    --txtfeliz: #654e04;
    --txttriste: #092380;
    --txtenojado: #5b1209;
    --txtansioso: #532407;
    --txtmotivado: #072505;
    --txtaburrido: #0e1a27;

    --eliminar: #d9534f;
    --aceptar: #856f2a;


}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgba(128, 128, 128, 0.237)
}

body {
    font-family: "Mukta", sans-serif;
    font-size: 1rem;
    min-height: 100%;
    margin: 0;
}

img {
    width: auto;
    height: 8vh;
}

.grid-container>* {
    padding: 10px;
    text-align: center;
}

.info {
    grid-area: main;
    background-color: var(--c5);
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--c1);
    display: grid;
    grid-template-rows: 3.5vh 11vh 2vh 15vh 55vh 10vh;
    grid-template-areas:
        "a3"
        "a1"
        "."
        "a2"
        "a4"
        "a5";
    grid-template-columns: 100%;

    .profileContainer {
        grid-area: a1;
        background-color: var(--c3);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0.5rem;
        border-radius: var(--border);
        box-shadow: var(--shadow) var(--c4);

        img {
            margin-left: 0.7rem;
        }

        .profileContents {
            padding-left: 0.5rem;

            h3.name {
                margin: 0;
                font-weight: 700;
                line-height: 1;
                text-align: left;
                font-size: 1.7rem;
                color: var(--textc3);
            }
        }

    }

    .rachaContainer {
        grid-area: a2;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--c3);
        border-radius: var(--border);
        margin: 0.5rem;
        box-shadow: var(--shadow) var(--c4);

        img {
            margin-left: 0.2rem;
        }

        .profileContents {
            padding: 1rem 0 0 .5rem;

            .dias {
                display: flex;
                gap: 0.4rem;
                font-size: 1.3rem;
            }

            p {
                margin: 0;
                padding: 0;
                font-weight: 500;
                line-height: 1;
            }

            h3.texto3 {
                margin: 0;
                padding: 0 0 0.7rem 0;
                font-weight: 700;
                line-height: 1;
                color: var(--textc3);
                font-size: 1.8rem;
            }
        }

    }

    .burgerContainer {
        grid-area: a3;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;

        .burgerTrigger {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .img {
                width: .8rem;
                height: 1.5rem;
                cursor: pointer;
                padding: 0;
                margin: 0;
                color: var(--c4);
            }

            .exit{
                width: 1.1rem;
            }

            .sun {
                display: none;
            }

        }
    }

    .contentsContainer {
        grid-area: a4;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            list-style: none;
            padding: 1rem;
            margin: .6rem;
            border-radius: var(--border);
            background-color: var(--c3);
            height: 85%;
            width: 100%;
            box-shadow: var(--shadow) var(--c4);

            li {
                background-color: var(--c1);
                border-radius: var(--border2);
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                margin: 0.2rem 0 0.2rem 0rem;
                padding: 0.3rem;
                width: 100%;
                height: 6.5vh;

                .icono {
                    padding-right: 0.4rem;
                    width: auto;
                    height: 1.2rem;
                    margin-left: 0.2rem;
                    color: var(--c4);
                }

                a {
                    display: flex;
                    text-decoration: none;
                    color: var(--textc1);
                    font-weight: 500;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 0 0.5rem;
                }

                span {
                    font-size: 1rem;
                    padding: 0 .3rem 0 0;
                }
            }

            li.active {
                background-color: var(--c5);

                a {
                    color: var(--textc5);
                }

                .icono {
                    color: var(--textc5);
                }
            }

            li:hover {
                background-color: var(--c5);
                transition: 0.25s all;

                a {
                    color: var(--textc5);
                }

                .icono {
                    color: var(--textc5);
                }
            }
        }
    }

    .logoContainer {
        grid-area: a5;
        display: flex;
        align-items: center;
        justify-content: center;

        h2.title {
            font-size: 25.42px;
            padding: 0 0 0 1rem;
            color: var(--textc1);
            font-weight: 700;
        }

    }
}

//Aplicar tema oscuro a la sidebar
.sidebar.active {

    background-color: var(--o1);

    .profileContainer {
        background-color: var(--o3);
        box-shadow: var(--shadow) var(--o4);

        .profileContents {
            h3.name {
                color: var(--textoO3);
            }
        }
    }

    .rachaContainer {
        background-color: var(--o3);
        box-shadow: var(--shadow) var(--o4);

        .profileContents {

            .dias {
                color: var(--textoO4);
            }

            h3.texto3 {
                color: var(--textoO3);
            }
        }
    }

    .burgerContainer {
        .burgerTrigger {
            display: flex;
            .img {
                width: 1rem;
                color: var(--o5);
            }

            .exit{
                width: 1.1rem;
            }

            .sun {
                display: flex;
            }

            .moon {
                display: none;
            }
        }
    }

    .contentsContainer {
        ul {
            background-color: var(--o3);
            box-shadow: var(--shadow) var(--o4);

            li {
                background-color: var(--o4);

                a {
                    color: var(--o2);
                }

                .icono {
                    color: var(--o2);
                }
            }

            li.active {
                background-color: var(--o5);

                a {
                    color: var(--o1);
                }

                .icono {
                    color: var(--o1);
                }
            }

            li:hover {
                background-color: var(--o5);
                transition: 0.25s all;

                a {
                    color: var(--o1);
                }

                .icono {
                    color: var(--o1);
                }
            }
        }
    }

    .logoContainer {
        h2.title {
            color: var(--o5);
        }
    }
}

//Aplicar tema oscuro a las paginas
.info.active {
    grid-area: main;
    background-color: var(--o3);
    color: var(--textoO3);

    .container-custom {
        background-color: var(--o1);
        //fondo POSTS
        .post-display-col {
            background-color: var(--o2);
            box-shadow: var(--shadow) var(--o3);
        }

        //barra seleccionada
        .btn-general.active,
        .btn-select.active,
        .btn-emotion.active {
            background-color: var(--o2);
            color: var(--textoO2);
        }

        //barra no Selccionada
        .btn-select {
            background-color: var(--o3);
            border-color: var(--o3);
            color: var(--textoO4);
        }

        //crear posts
        .row-create-post {
            background-color: var(--o3);
        }

        //botones emociones
        .btn-general {
            background-color: rgba(193, 187, 187, 0.717);
            color: #000000;
        }

        .btn-general.general.active {
            background-color: var(--o2);
            color: var(--textoO2);
        }


        //hovers y selcciones de emociones
        .btn-general.general:hover,
        .btn-general.general:focus:hover,
        .btn-general.general:active:hover {
            background-color: var(--o2);
            color: var(--textoO2);
        }

        .btn-general.feliz.active {
            background-color: var(--feliz);
            color: var(--txtfeliz);
        }

        .btn-general.feliz:hover,
        .btn-general.feliz:focus,
        .btn-general.feliz.active {
            background-color: var(--feliz);
            color: var(--txtfeliz);
        }

        .btn-general.triste.active {
            background-color: var(--triste);
            color: var(--txttriste);
        }

        .btn-general.triste:hover,
        .btn-general.triste:focus,
        .btn-general.triste.active {
            background-color: var(--triste);
            color: var(--txttriste);
        }

        .btn-general.enojado.active {
            background-color: var(--enojado);
            color: var(--txtenojado);
        }

        .btn-general.enojado:hover,
        .btn-general.enojado:focus,
        .btn-general.enojado.active {
            background-color: var(--enojado);
            color: var(--txtenojado);
        }

        .btn-general.ansioso.active {
            background-color: var(--ansioso);
            color: var(--txtansioso);
        }

        .btn-general.ansioso:hover,
        .btn-general.ansioso:focus,
        .btn-general.ansioso.active {
            background-color: var(--ansioso);
            color: var(--txtansioso);
        }

        .btn-general.motivado.active {
            background-color: var(--motivado);
            color: var(--txtmotivado);
        }

        .btn-general.motivado:hover,
        .btn-general.motivado:focus,
        .btn-general.motivado.active {
            background-color: var(--motivado);
            color: var(--txtmotivado);
        }

        .btn-general.aburrido.active {
            background-color: var(--aburrido);
            color: var(--txtaburrido);
        }

        .btn-general.aburrido:hover,
        .btn-general.aburrido:focus,
        .btn-general.aburrido.active {
            background-color: var(--aburrido);
            color: var(--txtaburrido);
        }

        .btn-general {
            transition: background-color 0.3s ease;
            width: 100%;
            padding: .3rem;
        }

        .btn-emotion.feliz.active {
            background-color: var(--feliz);
            color: var(--txtfeliz);
        }

        .btn-emotion.feliz:hover,
        .btn-emotion.feliz:focus,
        .btn-emotion.feliz.active {
            background-color: var(--feliz);
            color: var(--txtfeliz);
        }

        .btn-emotion.triste.active {
            background-color: var(--triste);
            color: var(--txttriste);
        }

        .btn-emotion.triste:hover,
        .btn-emotion.triste:focus,
        .btn-emotion.triste.active {
            background-color: var(--triste);
            color: var(--txttriste);
        }

        .btn-emotion.enojado.active {
            background-color: var(--enojado);
            color: var(--txtenojado);
        }

        .btn-emotion.enojado:hover,
        .btn-emotion.enojado:focus,
        .btn-emotion.enojado.active {
            background-color: var(--enojado);
            color: var(--txtenojado);
        }

        .btn-emotion.ansioso.active {
            background-color: var(--ansioso);
            color: var(--txtansioso);
        }

        .btn-emotion.ansioso:hover,
        .btn-emotion.ansioso:focus,
        .btn-emotion.ansioso.active {
            background-color: var(--ansioso);
            color: var(--txtansioso);
        }

        .btn-emotion.motivado.active {
            background-color: var(--motivado);
            color: var(--txtmotivado);
        }

        .btn-emotion.motivado:hover,
        .btn-emotion.motivado:focus,
        .btn-emotion.motivado.active {
            background-color: var(--motivado);
            color: var(--txtmotivado);
        }

        .btn-emotion.aburrido.active {
            background-color: var(--aburrido);
            color: var(--txtaburrido);
        }

        .btn-emotion.aburrido:hover,
        .btn-emotion.aburrido:focus,
        .btn-emotion.aburrido.active {
            background-color: var(--aburrido);
            color: var(--txtaburrido);
        }

        .row-create-post {
            background-color: var(--o2);
            color: var(--textoO2);
            padding: 10px;
            border-radius: var(--border);
            display: flex;
            align-items: center;
            max-width: 150vh;
            box-shadow: var(--shadow) var(--o5);

            .d-flex {
                flex-wrap: wrap;
            }
        }

        textarea.custom-textarea {
            background-color: var(--o5);
            border: none;
            width: 100%;
            padding: 10px;
            color: inherit;
            font-size: 1rem;
            resize: none;
            outline: none;
            box-shadow: var(--shadow) rgba(157, 50, 8, 0.2);

            &:focus {
                background-color: var(--o4);
                border: none;
                box-shadow: none;
            }
        }

    }

    .icon {
        color: var(--o5);
        width: 25px;
    }

    .app {

        background-color: var(--o2);

        h2 {
            background-color: var(--o1);
            color: var(--textoO1);
        }

        .user-item,
        .friend-item,
        .request-item {
            background-color: var(--o3);
            color: var(--textoO3);
        }


        .eliminar-button:hover,
        .no-button:hover {
            background-color: var(--eliminar);
        }

        .yes-button:hover {
            background-color: var(--aceptar);
        }

        .yes-button {
            background-color: var(--o5);
        }

        .add-button {
            background-color: var(--o5);
        }

        .no-button {
            background-color: var(--o1);
        }

        .eliminar-button {
            background-color: var(--o1);
        }

        .empty-message {

            color: var(--textoO1);

        }

        .search-bar {
            background-color: var(--o5);
            border: 2px solid var(--o3);
            color: var(--textoO5);
        }

        input::placeholder {
            color: var(--o1);
        }

    }

    .gridPersonal {

        .containerPerfil{
            button{
                background-color: var(--o4);
                color: var(--textoO4);
                border-radius: var(--border2);
                &:hover{
                    background-color: var(--o5);
                    color: var(--textoO5);
                }
            }
        }
        
        .rachaContainer {
            background-color: var(--o1);
            box-shadow: var(--shadow) var(--o4);

            .profileContents {

                .dias {
                    color: var(--textoO1);
                }

                h3.texto3 {
                    color: var(--textoO3);
                }
            }
        }

        .infoPer {

            button{
            background-color: var(--c1);
            width: 100%;
            border: none;
            padding: .3rem 0;
            color: var(--textc1);
            border-radius: var(--border2);
            &:hover{
                background-color: var(--c2);
                color: var(--textc2);
            }
        }

            h2 {
                background-color: var(--o1);
                box-shadow: var(--shadow) var(--o1);
            }

            .general {
                background-color: var(--o1);
                box-shadow: var(--shadow) var(--o1);

                .emotions-container {
                    background-color: var(--o2);
                    box-shadow: 1px 1px 6px 0px var(--o2);

                    .emotion {
                        background-color: var(--o4);
                    }

                    .emotion:hover {
                        background-color: var(--o5);
                    }

                    .active {
                        background-color: var(--o5);
                        /* Color diferente para el emoji activo */
                    }
                }
            }

            .ubicacion {
                background-color: var(--o1);
                box-shadow: 1px 1px 6px 0px var(--o1);
            }

        }

        .estadisticas {
            background-color: var(--o2);
            box-shadow: var(--shadow) var(--o4);

            .filter.selected {
                background-color: var(--o4);
                color: var(--textoO4);
                /* Texto negro en el botón seleccionado */
            }

            .filter:hover {
                background-color: var(--c5);
                color: var(--textc5);
                /* Texto negro en el botón al pasar el mouse */
            }

            .Feliz.selected {
                background-color: var(--feliz);
                color: var(--txtfeliz);
            }

            .Feliz:hover {
                background-color: var(--feliz);
                color: var(--txtfeliz);
            }

            .Triste.selected {
                background-color: var(--triste);
                color: var(--txttriste);
            }

            .Triste:hover {
                background-color: var(--triste);
                color: var(--txttriste);
            }

            .Enojado.selected {
                background-color: var(--enojado);
                color: var(--txtenojado);
            }

            .Enojado:hover {
                background-color: var(--enojado);
                color: var(--txtenojado);
            }

            .Ansioso.selected {
                background-color: var(--ansioso);
                color: var(--txtansioso);
            }

            .Ansioso:hover {
                background-color: var(--ansioso);
                color: var(--txtansioso);
            }

            .Motivado.selected {
                background-color: var(--motivado);
                color: var(--txtmotivado);
            }

            .Motivado:hover {
                background-color: var(--motivado);
                color: var(--txtmotivado);
            }

            .Aburrido.selected {
                background-color: var(--aburrido);
                color: var(--txtaburrido);
            }

            .Aburrido:hover {
                background-color: var(--aburrido);
                color: var(--txtaburrido);
            }
        }

        .publicaciones {
            background-color: transparent;
            box-shadow: none
        }

        .post-display-col {
            background-color: var(--o1);
            box-shadow: var(--shadow) var(--o4);
        }

    }

    .container-analisis {
        .section {
            background-color: var(--o1);
        }

        h2 {
            color: var(--textoO1);
        }

        .filter.selected {
            background-color: var(--o4);
            color: var(--textoO4);
            /* Texto negro en el botón seleccionado */
        }

        .filter:hover {
            background-color: var(--c5);
            color: var(--textc5);
            /* Texto negro en el botón al pasar el mouse */
        }

        .Feliz.selected {
            background-color: var(--feliz);
            color: var(--txtfeliz);
        }

        .Feliz:hover {
            background-color: var(--feliz);
            color: var(--txtfeliz);
        }

        .Triste.selected {
            background-color: var(--triste);
            color: var(--txttriste);
        }

        .Triste:hover {
            background-color: var(--triste);
            color: var(--txttriste);
        }

        .Enojado.selected {
            background-color: var(--enojado);
            color: var(--txtenojado);
        }

        .Enojado:hover {
            background-color: var(--enojado);
            color: var(--txtenojado);
        }

        .Ansioso.selected {
            background-color: var(--ansioso);
            color: var(--txtansioso);
        }

        .Ansioso:hover {
            background-color: var(--ansioso);
            color: var(--txtansioso);
        }

        .Motivado.selected {
            background-color: var(--motivado);
            color: var(--txtmotivado);
        }

        .Motivado:hover {
            background-color: var(--motivado);
            color: var(--txtmotivado);
        }

        .Aburrido.selected {
            background-color: var(--aburrido);
            color: var(--txtaburrido);
        }

        .Aburrido:hover {
            background-color: var(--aburrido);
            color: var(--txtaburrido);
        }


    }

    .conteiner-editar-perfil {

        button{
            background-color: var(--o5);
            color: var(--textoO5);
            border-radius: var(--border2);
            &:hover{
                background-color: var(--o1);
                color: var(--textoO1);
            }
        }
        .editarPerfil {
            background-color: var(--o2);
            box-shadow: var(--shadow) var(--o3);


            input[type="date"] {
                color: var(--textoO4); /* Cambia este valor por el color que prefieras */
            }
            
            /* Estilo para el placeholder (texto inicial) */
            input[type="date"]::placeholder {
                padding-left: .5rem;
                color: var(--textoO4); /* Cambia este valor por el color que prefieras */
            }

            p {
                color: var(--textoO2);
                margin: 0;
            }
    
            input {
                background-color: var(--o4);

                &::placeholder {
                    color: var(--texto4);
                }
            }
    
    
            .txt {
                grid-area: txt;
                color: var(--textc2);
                padding-top: .5rem;
            }

            
        }
        
        
    }
}

.grid-container {
    display: grid;
    gap: 0px;
    grid-template-columns: 15rem auto;
    grid-template-rows: 100vh;
    grid-template-areas:
        "sidebar main";
}

.auth-container {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    padding: 0rem;
}

@media (max-width: 700px) {

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        height: 100%;
    }

    body {
        font-family: "Mukta", sans-serif;
        font-size: 1.2rem;
        min-height: 100%;
        margin: 0;
    }

    .sidebar {
        position: fixed;
        z-index: 1000;
        bottom: 0;
        width: 100%;
        grid-area: sidebar;
        background-color: var(--c1);
        display: grid;
        grid-template-columns: 10% 10% 2% auto 10% 3%;
        grid-template-rows: 3rem;
        grid-template-areas:
            "a3 a1 . a4 a2 .";

        margin: 0;
        padding: 0.5rem 0;

        img {
            width: auto;
            height: 2.5rem;
        }

        .profileContainer {
            grid-area: a1;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-items: center;
            margin: 0;
            height: auto;
            width: 100%;
            box-shadow: none;

            img {
                margin-left: 0;
            }

            .profileContents {

                padding-left: 0;

                h3.name {
                    display: none;
                }
            }

        }

        .rachaContainer {
            grid-area: a2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--c3);
            border-radius: var(--border2);
            margin: 0;
            box-shadow: var(--shadow) var(--c4);
            height: auto;
            width: 100%;

            img {
                margin-left: 0;
                margin-top: 0;
                width: auto;
                height: 1.6rem;

            }

            .profileContents {
                padding: 0;

                .dias {
                    display: flex;
                    font-size: 1rem;
                }

                p.texto1 {
                    margin: 0;
                    padding: 0;
                    font-weight: 700;
                    line-height: 1;
                }

                p.texto2 {
                    display: none;
                }

                h3.texto3 {
                    display: none;
                }
            }
        }

        .burgerContainer {
            grid-area: a3;
            display: flex;
            flex-direction: center;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            height: auto;
            width: 100%;

            .burgerTrigger {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
                .img {
                    width: 1rem;
                    height: 1rem;
                    cursor: pointer;
                    padding: 0;
                    margin: 0;
                    color: var(--c4);
                }
                .exit{
                    width: 2rem;
                    height: auto;
                    padding-left: .2rem;
                }

                .moon{
                    width: 2rem;
                    height: auto;
                }
            }

        }

        .contentsContainer {
            grid-area: a4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 100%;

            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                list-style: none;
                padding: .5rem;
                border-radius: var(--border2);
                margin: .7rem;
                margin-left: 0;
                background-color: var(--c3);
                height: 100%;
                width: 100%;
                box-shadow: var(--shadow) var(--c4);
                gap: 5px;

                li {
                    background-color: var(--c1);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;
                    max-width: 20%;
                    height: 2rem;
                    border-radius: var(--border2);


                    .icono {
                        padding-right: 0;
                        width: auto;
                        height: 1.3rem;
                        margin-left: 0;
                        color: var(--c4);
                    }

                    a {
                        display: flex;
                        text-decoration: none;
                        color: black;
                        font-weight: 500;
                        align-items: center;
                        justify-content: center;
                        margin: 0 0 0 0;
                    }

                    span {
                        display: none;
                    }
                }

                li.active {
                    background-color: var(--c5);

                    a {
                        color: var(--c4);
                    }
                }

                li:hover {
                    background-color: var(--c5);
                    transition: 0.25s all;

                    a {
                        color: var(--c4);
                    }
                }

            }
        }

        .logoContainer {
            display: none;
        }

    }

    .sidebar.active {
        background-color: var(--o1);

        .profileContainer {
            background-color: transparent;
            box-shadow: none;

            h3 {
                color: var(--o5);
            }
        }

        .rachaContainer {
            background-color: var(--o3);
            box-shadow: var(--shadow) var(--o3);

            .profileContents {
                padding: 0;

                .dias {
                    color: var(--o5);
                }

                h3.texto3 {
                    color: var(--c2);
                }
            }

        }

        .burgerContainer {

            .burgerTrigger {

                .img {
                    width: 1rem;
                    color: var(--o5);
                }

                .exit{
                    width: 2rem;
                    height: auto;
                    padding-left: .2rem;
                }

                .sun{
                    width: 2rem;
                    height: auto;
                }

            }


        }

        .contentsContainer {

            ul {

                background-color: var(--o3);
                box-shadow: var(--shadow) var(--o3);

                li {
                    background-color: var(--o4);

                    a {
                        color: var(--o2);
                    }

                    .icono {
                        color: var(--o3);
                    }
                }

                li.active {
                    background-color: var(--o5);

                    a {
                        color: var(--o3);
                    }
                }

                li:hover {
                    background-color: var(--o5);
                    transition: 0.25s all;

                    a {
                        color: var(--o3);
                    }
                }

            }
        }

        .logoContainer {

            h2.title {
                color: var(--o5);
            }

        }
    }

    .info {
        grid-area: main;
        background-color: rgba(128, 128, 128, 0.114);
        width: 100%;
        // height: 79vh;
        height: 100%;
    }

    .grid-container {
        display: grid;
        gap: 10px;
        grid-template:
            "main" auto
            "sidebar" 3rem
        ;
    }
}

@media (max-width: 290px) {

    .info {
        grid-area: main;
        background-color: rgba(128, 128, 128, 0.114);
        width: 100%;
        // height: 93vh;
        height: 100%;
    }

    .grid-container {
        display: grid;
        gap: 15px;
        grid-template:
            "main" auto
            "sidebar" 3rem
        ;
    }
}

@media (max-width: 275px) {

    .info {
        grid-area: main;
        background-color: rgba(128, 128, 128, 0.114);
        width: 100%;
        // height: 99vh;
        height: 100%;
    }

    .grid-container {
        display: grid;
        gap: 15px;
        grid-template:
            "main" auto
            "sidebar" 3rem
        ;
    }
}

@media (max-width: 250px) {

    .info {
        grid-area: main;
        background-color: rgba(128, 128, 128, 0.114);
        width: 100%;
        // height: 112vh;
        height: 100%;
    }

    .grid-container {
        display: grid;
        gap: 15px;
        grid-template:
            "main" auto
            "sidebar" 3rem
        ;
    }
}

@media (max-width: 230px) {

    .info {
        grid-area: main;
        background-color: rgba(128, 128, 128, 0.114);
        width: 100%;
        // height: 120vh;
        height: 100%;
    }

    .grid-container {
        display: grid;
        gap: 15px;
        grid-template:
            "main" auto
            "sidebar" 3rem
        ;
    }
}

// @media(min-height: 480px) and (max-width: 500px) {

//     img {
//         width: auto;
//         height: 6.5vh;
//     }

//     .info {
//         grid-area: main;
//         background-color: rgba(128, 128, 128, 0.114);
//         width: 100%;
//         height: 74vh;
//     }

//     .grid-container {
//         display: grid;
//         gap: 15px;
//         grid-template:
//             "main" auto
//             "sidebar" 3rem
//         ;
//     }
// }

// @media(min-height: 625px)and (max-width: 500px) {

//     img {
//         width: auto;
//         height: 6.5vh;
//     }

//     .info {
//         grid-area: main;
//         background-color: rgba(128, 128, 128, 0.114);
//         width: 100%;
//         height: 84vh;
//     }

//     .grid-container {
//         display: grid;
//         gap: 15px;
//         grid-template:
//             "main" auto
//             "sidebar" 3rem
//         ;
//     }
// }

// @media(min-height: 725px)and (max-width: 500px) {

//     img {
//         width: auto;
//         height: 6.5vh;
//     }

//     .info {
//         grid-area: main;
//         background-color: rgba(128, 128, 128, 0.114);
//         width: 100%;
//         height: 86vh;
//     }

//     .grid-container {
//         display: grid;
//         gap: 15px;
//         grid-template:
//             "main" auto
//             "sidebar" 3rem
//         ;
//     }

// }

// @media(min-height: 900px)and (max-width: 500px) {

//     img {
//         width: auto;
//         height: 6vh;
//     }

//     .info {
//         grid-area: main;
//         background-color: rgba(128, 128, 128, 0.114);
//         width: 100%;
//         height: 87vh;
//     }

//     .grid-container {
//         display: grid;
//         gap: 15px;
//         grid-template:
//             "main" auto
//             "sidebar" 3rem
//         ;
//     }
// }