body {
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;
}


.auth-container .card {
  border: none;
  margin-right: 20px;
}
.auth-container .form-control {
  border: none;
}
.auth-container .text-center a {
  font-family: "Mukta", sans-serif;
}
.auth-container .card-body {
  padding: 2rem;
}
.auth-container .btn-primary {
  background-color: #D04B24;
  border: none;
  font-family: "Mukta", sans-serif;
}
.auth-container .background {
  background-image: url("/public/fondocute.jpg");
}
.auth-container .carousel-container {
  
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  max-width: 50%; 
  margin: auto; 
}
.auth-container .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 400px;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%; 
}
.carousel-control-prev,
.carousel-control-next {
  display: block; /* Asegura que los botones sean visibles */
  z-index: 10; /* Asegura que estén por encima del contenido del carrusel */
}
.carousel-item {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.auth-container .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}