@charset "UTF-8";
:root {
  --border: 20px;
  --border2: 1rem;
  --shadow: 1px 1px 3px .5px;
  /* Colores de fondo claros */
  --c1: #46313d;
  --c2: #5f404d;
  --c3: #845d5f;
  --c4: #b77e78;
  --c5: #dcae8f;
  /* Colores de fondo oscuros */
  --o1: #1a0e15;
  --o2: #2d1a22;
  --o3: #4e2f30;
  --o4: #6e4b3b;
  --o5: #8f6c4f;
  /* Colores de texto ajustados */
  --textc1: #dcae8f;
  --textc2: #dcae8f;
  --textc3: #dcae8f;
  --textc4: #46313d;
  --textc5: #46313d;
  --textoO1: #8f6c4f;
  --textoO2: #8f6c4f;
  --textoO3: #8f6c4f;
  --textoO4: #1a0e15;
  --textoO5: #1a0e15;
  --feliz: #f4d35e;
  --triste: #7289da;
  --enojado: #d9534f;
  --ansioso: #e9967a;
  --motivado: #88c399;
  --aburrido: #495057;
  --txtfeliz: #654e04;
  --txttriste: #092380;
  --txtenojado: #5b1209;
  --txtansioso: #532407;
  --txtmotivado: #072505;
  --txtaburrido: #0e1a27;
  --eliminar: #d9534f;
  --aceptar: #856f2a;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: rgb(236, 243, 243);
  font-size: 1rem;
  min-height: 100%;
  margin: 0;
}

.gridPersonal {
  display: grid;
  grid-template-columns: 14rem auto;
  grid-template-rows: auto;
  grid-template-areas: "a1 a3" "a4 a4" "a5 a5";
  width: 100%;
  max-width: 100%;
  gap: 0;
  align-items: center;
  padding: 0;
  overflow: auto;
  height: none;
  max-height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.gridPersonal .emoji-img img {
  width: 100%;
  height: auto;
}
.gridPersonal .img {
  width: 70%;
  height: auto;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.gridPersonal .containerPerfil {
  grid-area: a1;
  width: 100%;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}
.gridPersonal .containerPerfil .rachaContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--c3);
  border-radius: var(--border2);
  box-shadow: var(--shadow) var(--c4);
}
.gridPersonal .containerPerfil .rachaContainer img {
  margin-top: 0.5rem;
  height: 4rem;
}
.gridPersonal .containerPerfil .rachaContainer .profileContents {
  padding: 0.3rem 0 0 0.5rem;
}
.gridPersonal .containerPerfil .rachaContainer .profileContents p {
  font-size: 1.5rem;
}
.gridPersonal .containerPerfil .rachaContainer .profileContents .dias {
  display: flex;
  gap: 0.4rem;
}
.gridPersonal .containerPerfil .rachaContainer .profileContents p.texto1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1;
}
.gridPersonal .containerPerfil .rachaContainer .profileContents p.texto2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1;
}
.gridPersonal .containerPerfil .rachaContainer .profileContents h1.texto3 {
  margin: 0;
  padding: 0 0 0.7rem 0;
  font-weight: 700;
  line-height: 1;
  color: var(--textc3);
}
.gridPersonal .infoPer {
  grid-area: a3;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.gridPersonal .infoPer .parte1 {
  width: 100%;
}
.gridPersonal .infoPer .parte1 h2 {
  background-color: var(--c1);
  border-radius: var(--border2);
  padding: 0.5rem 1.5rem;
  box-shadow: var(--shadow) var(--c1);
  color: var(--textc3);
}
.gridPersonal .infoPer .parte1 .general {
  background-color: var(--c1);
  border-radius: var(--border2);
  padding: 0.5rem 1.5rem;
  box-shadow: var(--shadow) var(--c1);
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gridPersonal .infoPer .parte1 .general .emotions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--c3);
  min-width: 85%;
  max-width: 90%;
  padding: 0.5rem 1.5rem;
  box-shadow: var(--shadow) var(--c3);
  flex-wrap: wrap;
  border-radius: var(--border2);
  gap: 1px;
  margin-top: 0.5rem;
}
.gridPersonal .infoPer .parte1 .general .emotions-container .emotion {
  background-color: var(--c1);
  border-radius: var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 3rem;
  /* Espacio entre los círculos */
}
.gridPersonal .infoPer .parte1 .general .emotions-container .emotion:hover {
  background-color: var(--c4);
}
.gridPersonal .infoPer .parte1 .general .emotions-container .active {
  background-color: var(--c4);
}
.gridPersonal .infoPer .parte1 .general #emotion-text {
  padding: 0.5rem 0;
  color: var(--textc3);
}
.gridPersonal .infoPer .ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--c1);
  width: 100%;
  max-width: 100%;
  height: 25%;
  border-radius: var(--border);
  box-shadow: var(--shadow) --c1;
  padding: 0.3rem;
}
.gridPersonal .infoPer .ubicacion .icono {
  color: var(--c4);
  width: 3rem;
  height: 3rem;
}
.gridPersonal .infoPer .ubicacion span {
  color: var(--textc3);
}
.gridPersonal .estadisticas {
  grid-area: a4;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--c4);
  border-radius: var(--border);
  box-shadow: var(--shadow) var(--c4);
  display: flex;
  flex-direction: column;
}
.gridPersonal .estadisticas .filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 20px;
}
.gridPersonal .estadisticas .filter {
  padding: 8px 12px;
  background-color: rgba(241, 237, 232, 0.6196078431);
  border-radius: var(--border2);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}
.gridPersonal .estadisticas .filter.selected {
  background-color: var(--c1);
  color: var(--textc1); /* Texto negro en el botón seleccionado */
}
.gridPersonal .estadisticas .filter:hover {
  background-color: #D4C5A8;
  color: #192229; /* Texto negro en el botón al pasar el mouse */
}
.gridPersonal .estadisticas .Feliz.selected {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.gridPersonal .estadisticas .Feliz:hover {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.gridPersonal .estadisticas .Triste.selected {
  background-color: var(--triste);
  color: var(--txttriste);
}
.gridPersonal .estadisticas .Triste:hover {
  background-color: var(--triste);
  color: var(--txttriste);
}
.gridPersonal .estadisticas .Enojado.selected {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.gridPersonal .estadisticas .Enojado:hover {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.gridPersonal .estadisticas .Ansioso.selected {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.gridPersonal .estadisticas .Ansioso:hover {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.gridPersonal .estadisticas .Motivado.selected {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.gridPersonal .estadisticas .Motivado:hover {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.gridPersonal .estadisticas .Aburrido.selected {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.gridPersonal .estadisticas .Aburrido:hover {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.gridPersonal .publicaciones {
  grid-area: a5;
  border-radius: var(--border);
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 1rem;
  padding: 2rem;
  color: var(--textc1);
}
.gridPersonal .publicaciones .post-display-col {
  background-color: var(--c1);
  box-shadow: var(--shadow) var(--c2);
}

@media (max-width: 750px) {
  .gridPersonal {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "a1" "a3" "a4" "a5";
    justify-content: center;
    align-items: center;
  }
  .gridPersonal .imgDiv {
    width: 80%;
  }
  .gridPersonal .img {
    width: 40%;
    height: auto;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .gridPersonal .containerPerfil {
    grid-area: a1;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .gridPersonal .containerPerfil .rachaContainer {
    flex-direction: row;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0.5rem;
  }
  .gridPersonal .containerPerfil .rachaContainer img {
    margin-top: 0;
    height: 4rem;
  }
  .gridPersonal .containerPerfil .rachaContainer .profileContents h1.texto3 {
    margin: 0;
    padding: 0 0.5rem 0 0;
  }
  .gridPersonal .infoPer {
    display: flex;
    grid-area: a3;
    width: 100%;
    padding: 1.5rem;
    flex-direction: column;
  }
  .gridPersonal .infoPer .parte1 {
    width: 100%;
  }
  .gridPersonal .infoPer .parte1 h2 {
    background-color: var(--c1);
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    box-shadow: shadow var(--c1);
  }
}/*# sourceMappingURL=perfil.css.map */