:root {
  // --c1: #eeddd3;
  // --c2: #cf7225;
  // --c3: #e8d1c5;
  // --c4: #9d3208bc;
  // --c5: #fff1e6;

  // --o1: #192229;
  // --o2: #212E36;
  // --o3: #2A3B47;
  // --o4: #A0A7AD;
  // --o5: #C8CDD0;

  --border: 20px;
  --border2: 1rem;
  --shadow: 1px 1px 3px .5px;

  /* Colores de fondo claros */
  --c1: #46313d;
  --c2: #5f404d;
  --c3: #845d5f;
  --c4: #b77e78;
  --c5: #dcae8f;

  /* Colores de fondo oscuros */
  --o1: #1a0e15;
  --o2: #2d1a22;
  --o3: #4e2f30;
  --o4: #6e4b3b;
  --o5: #8f6c4f;

  /* Colores de texto ajustados */
  --textc1: #dcae8f;
  --textc2: #dcae8f;
  --textc3: #dcae8f;
  --textc4: #46313d;
  --textc5: #46313d;

  --textoO1: #8f6c4f;
  --textoO2: #8f6c4f;
  --textoO3: #8f6c4f;
  --textoO4: #1a0e15;
  --textoO5: #1a0e15;

  --feliz: #f4d35e;
  --triste: #7289da;
  --enojado: #d9534f;
  --ansioso: #e9967a;
  --motivado: #88c399;
  --aburrido: #495057;

  --txtfeliz: #654e04;
  --txttriste: #092380;
  --txtenojado: #5b1209;
  --txtansioso: #532407;
  --txtmotivado: #072505;
  --txtaburrido: #0e1a27;

  --eliminar: #d9534f;
  --aceptar: #856f2a;


}


body {
  font-family: "Mukta", sans-serif;
  background-color: rgb(236, 243, 243);
  font-size: 1rem;
  min-height: 100%;
  margin: 0;
}

.container-custom {
  background-color: #ecf1f585;
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .btn-select {
    background-color: var(--c3);
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: bold;
    border-color: var(--c5);
    border-radius: 150px;
    border: none;
    box-shadow: var(--shadow) rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

    &.active {
      background-color: var(--c1);
      border-color: var(--c1);
      color: var(--textc1);
      box-shadow: var(--shadow) rgba(0, 0, 0, 0.3);
    }

    &:hover,
    &:focus,
    &:active {
      background-color: var(--c1);
      border-color: var(--c1);
      color: var(--textc1);
      box-shadow: var(--shadow) rgba(0, 0, 0, 0.3);
    }
  }
  .divB{
    display: flex;
    flex-wrap: wrap;
  }

  .btn-general {
    background-color: #dddddda5; /* Color personalizado */
    color: rgb(0, 0, 0);
    border-color: #e6e6e6;
    border-radius: 25px;
    border: none;
    white-space: nowrap; /* Asegura que el texto dentro del botón no se envuelva */
    text-align: left;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 1rem;
  
    &.general {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--c1); /* Color específico para el botón "General" en estados activos */
        color: var(--textc1);
      }
    }
  
    &.feliz {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--feliz);
        color: var(--txtfeliz);
      }
    }
  
    &.triste {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--triste);
        color: var(--txttriste);
      }
    }
  
    &.enojado {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--enojado);
        color: var(--txtenojado);
      }
    }
  
    &.ansioso {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--ansioso);
        color: var(--txtansioso);
      }
    }
  
    &.motivado {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--motivado);
        color: var(--txtmotivado);
      }
    }
  
    &.aburrido {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--aburrido);
        color: var(--txtaburrido);
      }
    }
  }
  

  .btn-emotion {
    background-color: #dddddd94;
    color: rgb(0, 0, 0);
    border-color: #e6e6e6;
    border-radius: var(--border2);
    border: none;
    white-space: nowrap;
    text-align: left;
    transition: background-color 0.3s ease;
    width: 100%;
    padding: 1rem;

    &.feliz {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--feliz);
        color: var(--txtfeliz);
      }
    }

    &.triste {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--triste);
        color: var(--txttriste);
      }
    }

    &.enojado {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--enojado);
        color: var(--txtenojado);
      }
    }

    &.ansioso {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--ansioso);
        color: var(--txtansioso);
      }
    }

    &.motivado {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--motivado);
        color: var(--txtmotivado);
      }
    }

    &.aburrido {
      &.active,
      &:hover,
      &:focus,
      &:active {
        background-color: var(--aburrido);
        color: var(--txtaburrido);
      }
    }
  }

  .img-fluid {
    width: 50px;
    height: 50px;
    object-fit: cover;
    max-width: none;
    height: auto;
    margin-right: 10px;
  }

  .icon {
    color: var(--c4);
    width: 25px;
  }

  .row-create-post {
    background-color: var(--c3);
    padding: 10px;
    border-radius: var(--border);
    display: flex;
    align-items: center;
    max-width: 150vh;
    box-shadow:var(--shadow) var(--c4);

    .d-flex {
      flex-wrap: wrap;
    }
  }

  textarea.custom-textarea {
    background-color: var(--c5);
    border: none;
    width: 100%;
    padding: 10px;
    color: inherit;
    font-size: 1rem;
    resize: none;
    outline: none;
    box-shadow: var(--shadow) rgba(157, 50, 8, 0.2);

    &:focus {
      background-color: var(--c4);
      border: none;
      box-shadow: none;
    }
  }

  .bg-posts {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border2);
    margin-top: 20px;

    img {
      width: 180px;
      height: auto;
      margin-top: 10px;
      opacity: 0.2;
    }

    span {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .custom-div-post {
    width: 100%;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
  }

  .user-name {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .btn-cancel {
    background-color: var(--eliminar);
    color: #000000;
    border: none;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus,
    &:active {
      background-color: #a03a37;
      border-color: #a03a37;
    }
  }

  .btn-publish {
    background-color: #dddddd;
    color: rgb(0, 0, 0);

    &:hover,
    &:focus,
    &:active {
      background-color:  #d0bfbf;
    }
  }

  .w-100 {
    display: flex;
    height: 2rem;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .btn {
    padding: 0.2rem;
    border: none;
  }

  .post-display-col {
    background-color: var(--c1);
    color: var(--textc1);
    padding: 10px;
    border-radius: var(--border);
    align-items: center;
    max-width: 100%;
    box-shadow: var(--shadow) var(--c2);

  }

  .user-name-post {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .emotion-badge {
    border-radius: var(--border2);
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    display: inline-block;
  }

  .emotion-badge.feliz {
    background-color: var(--feliz);
  }

  .emotion-badge.triste {
    background-color: var(--triste);
  }

  .emotion-badge.enojado {
    background-color: var(--enojado);
  }

  .emotion-badge.ansioso {
    background-color: var(--ansioso);
  }

  .emotion-badge.motivado {
    background-color: var(--motivado);
  }

  .emotion-badge.aburrido {
    background-color: var(--aburrido);
  }
}
