@charset "UTF-8";
:root {
  --border: 20px;
  --border2: 1rem;
  --shadow: 1px 1px 3px .5px;
  /* Colores de fondo claros */
  --c1: #46313d;
  --c2: #5f404d;
  --c3: #845d5f;
  --c4: #b77e78;
  --c5: #dcae8f;
  /* Colores de fondo oscuros */
  --o1: #1a0e15;
  --o2: #2d1a22;
  --o3: #4e2f30;
  --o4: #6e4b3b;
  --o5: #8f6c4f;
  /* Colores de texto ajustados */
  --textc1: #dcae8f;
  --textc2: #dcae8f;
  --textc3: #dcae8f;
  --textc4: #46313d;
  --textc5: #46313d;
  --textoO1: #8f6c4f;
  --textoO2: #8f6c4f;
  --textoO3: #8f6c4f;
  --textoO4: #1a0e15;
  --textoO5: #1a0e15;
  --feliz: #f4d35e;
  --triste: #7289da;
  --enojado: #d9534f;
  --ansioso: #e9967a;
  --motivado: #88c399;
  --aburrido: #495057;
  --txtfeliz: #654e04;
  --txttriste: #092380;
  --txtenojado: #5b1209;
  --txtansioso: #532407;
  --txtmotivado: #072505;
  --txtaburrido: #0e1a27;
  --eliminar: #d9534f;
  --aceptar: #856f2a;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: rgb(236, 243, 243);
  font-size: 1rem;
  min-height: 100%;
  margin: 0;
}

.container-custom {
  background-color: rgba(236, 241, 245, 0.5215686275);
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container-custom::-webkit-scrollbar {
  display: none;
}
.container-custom .btn-select {
  background-color: var(--c3);
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: bold;
  border-color: var(--c5);
  border-radius: 150px;
  border: none;
  box-shadow: var(--shadow) rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
.container-custom .btn-select.active {
  background-color: var(--c1);
  border-color: var(--c1);
  color: var(--textc1);
  box-shadow: var(--shadow) rgba(0, 0, 0, 0.3);
}
.container-custom .btn-select:hover, .container-custom .btn-select:focus, .container-custom .btn-select:active {
  background-color: var(--c1);
  border-color: var(--c1);
  color: var(--textc1);
  box-shadow: var(--shadow) rgba(0, 0, 0, 0.3);
}
.container-custom .divB {
  display: flex;
  flex-wrap: wrap;
}
.container-custom .btn-general {
  background-color: rgba(221, 221, 221, 0.6470588235); /* Color personalizado */
  color: rgb(0, 0, 0);
  border-color: #e6e6e6;
  border-radius: 25px;
  border: none;
  white-space: nowrap; /* Asegura que el texto dentro del botón no se envuelva */
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 1rem;
}
.container-custom .btn-general.general.active, .container-custom .btn-general.general:hover, .container-custom .btn-general.general:focus, .container-custom .btn-general.general:active {
  background-color: var(--c1); /* Color específico para el botón "General" en estados activos */
  color: var(--textc1);
}
.container-custom .btn-general.feliz.active, .container-custom .btn-general.feliz:hover, .container-custom .btn-general.feliz:focus, .container-custom .btn-general.feliz:active {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.container-custom .btn-general.triste.active, .container-custom .btn-general.triste:hover, .container-custom .btn-general.triste:focus, .container-custom .btn-general.triste:active {
  background-color: var(--triste);
  color: var(--txttriste);
}
.container-custom .btn-general.enojado.active, .container-custom .btn-general.enojado:hover, .container-custom .btn-general.enojado:focus, .container-custom .btn-general.enojado:active {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.container-custom .btn-general.ansioso.active, .container-custom .btn-general.ansioso:hover, .container-custom .btn-general.ansioso:focus, .container-custom .btn-general.ansioso:active {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.container-custom .btn-general.motivado.active, .container-custom .btn-general.motivado:hover, .container-custom .btn-general.motivado:focus, .container-custom .btn-general.motivado:active {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.container-custom .btn-general.aburrido.active, .container-custom .btn-general.aburrido:hover, .container-custom .btn-general.aburrido:focus, .container-custom .btn-general.aburrido:active {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.container-custom .btn-emotion {
  background-color: rgba(221, 221, 221, 0.5803921569);
  color: rgb(0, 0, 0);
  border-color: #e6e6e6;
  border-radius: var(--border2);
  border: none;
  white-space: nowrap;
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 1rem;
}
.container-custom .btn-emotion.feliz.active, .container-custom .btn-emotion.feliz:hover, .container-custom .btn-emotion.feliz:focus, .container-custom .btn-emotion.feliz:active {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.container-custom .btn-emotion.triste.active, .container-custom .btn-emotion.triste:hover, .container-custom .btn-emotion.triste:focus, .container-custom .btn-emotion.triste:active {
  background-color: var(--triste);
  color: var(--txttriste);
}
.container-custom .btn-emotion.enojado.active, .container-custom .btn-emotion.enojado:hover, .container-custom .btn-emotion.enojado:focus, .container-custom .btn-emotion.enojado:active {
  background-color: var(--enojado);
  color: var(--txtenojado);
}
.container-custom .btn-emotion.ansioso.active, .container-custom .btn-emotion.ansioso:hover, .container-custom .btn-emotion.ansioso:focus, .container-custom .btn-emotion.ansioso:active {
  background-color: var(--ansioso);
  color: var(--txtansioso);
}
.container-custom .btn-emotion.motivado.active, .container-custom .btn-emotion.motivado:hover, .container-custom .btn-emotion.motivado:focus, .container-custom .btn-emotion.motivado:active {
  background-color: var(--motivado);
  color: var(--txtmotivado);
}
.container-custom .btn-emotion.aburrido.active, .container-custom .btn-emotion.aburrido:hover, .container-custom .btn-emotion.aburrido:focus, .container-custom .btn-emotion.aburrido:active {
  background-color: var(--aburrido);
  color: var(--txtaburrido);
}
.container-custom .img-fluid {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: none;
  height: auto;
  margin-right: 10px;
}
.container-custom .icon {
  color: var(--c4);
  width: 25px;
}
.container-custom .row-create-post {
  background-color: var(--c3);
  padding: 10px;
  border-radius: var(--border);
  display: flex;
  align-items: center;
  max-width: 150vh;
  box-shadow: var(--shadow) rgba(157, 50, 8, 0.6);
}
.container-custom .row-create-post .d-flex {
  flex-wrap: wrap;
}
.container-custom textarea.custom-textarea {
  background-color: var(--c5);
  border: none;
  width: 100%;
  padding: 10px;
  color: inherit;
  font-size: 1rem;
  resize: none;
  outline: none;
  box-shadow: var(--shadow) rgba(157, 50, 8, 0.2);
}
.container-custom textarea.custom-textarea:focus {
  background-color: var(--c4);
  border: none;
  box-shadow: none;
}
.container-custom .bg-posts {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border2);
  margin-top: 20px;
}
.container-custom .bg-posts img {
  width: 180px;
  height: auto;
  margin-top: 10px;
  opacity: 0.2;
}
.container-custom .bg-posts span {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.container-custom .custom-div-post {
  width: 100%;
}
.container-custom .user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}
.container-custom .user-name {
  font-size: 1.25rem;
  font-weight: bold;
}
.container-custom .btn-cancel {
  background-color: var(--eliminar);
  color: #000000;
  border: none;
  transition: background-color 0.3s ease;
}
.container-custom .btn-cancel:hover, .container-custom .btn-cancel:focus, .container-custom .btn-cancel:active {
  background-color: #a03a37;
  border-color: #a03a37;
}
.container-custom .btn-publish {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
}
.container-custom .btn-publish:hover, .container-custom .btn-publish:focus, .container-custom .btn-publish:active {
  background-color: #d0bfbf;
}
.container-custom .w-100 {
  display: flex;
  height: 2rem;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.container-custom .btn {
  padding: 0.2rem;
  border: none;
}
.container-custom .post-display-col {
  background-color: var(--c1);
  color: var(--textc1);
  padding: 10px;
  border-radius: var(--border);
  align-items: center;
  max-width: 100%;
  box-shadow: var(--shadow) rgba(157, 50, 8, 0.6);
}
.container-custom .user-name-post {
  font-size: 1.25rem;
  font-weight: bold;
}
.container-custom .emotion-badge {
  border-radius: var(--border2);
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: inline-block;
}
.container-custom .emotion-badge.feliz {
  background-color: var(--feliz);
}
.container-custom .emotion-badge.triste {
  background-color: var(--triste);
}
.container-custom .emotion-badge.enojado {
  background-color: var(--enojado);
}
.container-custom .emotion-badge.ansioso {
  background-color: var(--ansioso);
}
.container-custom .emotion-badge.motivado {
  background-color: var(--motivado);
}
.container-custom .emotion-badge.aburrido {
  background-color: var(--aburrido);
}/*# sourceMappingURL=Principal.css.map */