@charset "UTF-8";
:root {
  --c1: #eeddd3;
  --c2: #cf7225;
  --c3: #e8d1c5;
  --c4: #9d3208bc;
  --c5: #fff1e6;
  --o1: #192229;
  --o2: #212e36;
  --o3: #2a3b47;
  --o4: #a0a7ad;
  --o5: #c8cdd0;
  --feliz: #e7efa2;
  --triste: #9fd0e2;
  --enojado: #c13434;
  --ansioso: #de9c3f;
  --motivado: #b6efa2;
  --aburrido: #a677ad;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: rgb(236, 243, 243);
  font-size: 1rem;
  min-height: 100%;
  margin: 0;
}

.container-custom {
  background-color: rgba(236, 241, 245, 0.5215686275);
  padding: 20px;
  border-radius: 8px;
  overflow: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container-custom::-webkit-scrollbar {
  display: none;
}
.container-custom .btn-select {
  background-color: var(--c3);
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: bold;
  border-color: var(--c5);
  border-radius: 150px;
  border: none;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
.container-custom .btn-select.active {
  background-color: var(--c2);
  border-color: var(--c2);
  color: white;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}
.container-custom .btn-select:hover, .container-custom .btn-select:focus, .container-custom .btn-select:active {
  background-color: var(--c2);
  border-color: var(--c2);
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.3);
}
.container-custom .btn-general {
  background-color: #dddddd; /* Color personalizado */
  color: rgb(0, 0, 0);
  border-color: #e6e6e6;
  border-radius: 25px;
  border: none;
  white-space: nowrap; /* Asegura que el texto dentro del botón no se envuelva */
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 0.5rem;
}
.container-custom .btn-general.general.active, .container-custom .btn-general.general:hover, .container-custom .btn-general.general:focus, .container-custom .btn-general.general:active {
  background-color: var(--c2); /* Color específico para el botón "General" en estados activos */
  color: black;
}
.container-custom .btn-general.feliz.active, .container-custom .btn-general.feliz:hover, .container-custom .btn-general.feliz:focus, .container-custom .btn-general.feliz:active {
  background-color: var(--feliz);
  color: black;
}
.container-custom .btn-general.triste.active, .container-custom .btn-general.triste:hover, .container-custom .btn-general.triste:focus, .container-custom .btn-general.triste:active {
  background-color: var(--triste);
  color: white;
}
.container-custom .btn-general.enojado.active, .container-custom .btn-general.enojado:hover, .container-custom .btn-general.enojado:focus, .container-custom .btn-general.enojado:active {
  background-color: var(--enojado);
  color: white;
}
.container-custom .btn-general.ansioso.active, .container-custom .btn-general.ansioso:hover, .container-custom .btn-general.ansioso:focus, .container-custom .btn-general.ansioso:active {
  background-color: var(--ansioso);
  color: white;
}
.container-custom .btn-general.motivado.active, .container-custom .btn-general.motivado:hover, .container-custom .btn-general.motivado:focus, .container-custom .btn-general.motivado:active {
  background-color: var(--motivado);
  color: black;
}
.container-custom .btn-general.aburrido.active, .container-custom .btn-general.aburrido:hover, .container-custom .btn-general.aburrido:focus, .container-custom .btn-general.aburrido:active {
  background-color: var(--aburrido);
  color: white;
}
.container-custom .btn-emotion {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
  border-color: #e6e6e6;
  border-radius: 25px;
  border: none;
  white-space: nowrap;
  text-align: left;
  transition: background-color 0.3s ease;
  width: 100%;
  padding: 0.5rem;
}
.container-custom .btn-emotion.feliz.active, .container-custom .btn-emotion.feliz:hover, .container-custom .btn-emotion.feliz:focus, .container-custom .btn-emotion.feliz:active {
  background-color: var(--feliz);
  color: black;
}
.container-custom .btn-emotion.triste.active, .container-custom .btn-emotion.triste:hover, .container-custom .btn-emotion.triste:focus, .container-custom .btn-emotion.triste:active {
  background-color: var(--triste);
  color: white;
}
.container-custom .btn-emotion.enojado.active, .container-custom .btn-emotion.enojado:hover, .container-custom .btn-emotion.enojado:focus, .container-custom .btn-emotion.enojado:active {
  background-color: var(--enojado);
  color: white;
}
.container-custom .btn-emotion.ansioso.active, .container-custom .btn-emotion.ansioso:hover, .container-custom .btn-emotion.ansioso:focus, .container-custom .btn-emotion.ansioso:active {
  background-color: var(--ansioso);
  color: white;
}
.container-custom .btn-emotion.motivado.active, .container-custom .btn-emotion.motivado:hover, .container-custom .btn-emotion.motivado:focus, .container-custom .btn-emotion.motivado:active {
  background-color: var(--motivado);
  color: black;
}
.container-custom .btn-emotion.aburrido.active, .container-custom .btn-emotion.aburrido:hover, .container-custom .btn-emotion.aburrido:focus, .container-custom .btn-emotion.aburrido:active {
  background-color: var(--aburrido);
  color: white;
}
.container-custom .img-fluid {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: none;
  height: auto;
  margin-right: 10px;
}
.container-custom .icon {
  color: var(--c4);
  width: 25px;
}
.container-custom .row-create-post {
  background-color: var(--c3);
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  max-width: 150vh;
  box-shadow: 0px 3px 5px rgba(157, 50, 8, 0.6);
}
.container-custom .row-create-post .d-flex {
  flex-wrap: wrap;
}
.container-custom textarea.custom-textarea {
  background-color: #e6beb6;
  border: none;
  width: 100%;
  padding: 10px;
  color: inherit;
  font-size: 1rem;
  resize: none;
  outline: none;
  box-shadow: 0px 2px 30px rgba(157, 50, 8, 0.2);
}
.container-custom textarea.custom-textarea:focus {
  background-color: #e6beb6;
  border: none;
  box-shadow: none;
}
.container-custom .bg-posts {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 20px;
}
.container-custom .bg-posts img {
  width: 180px;
  height: auto;
  margin-top: 10px;
  opacity: 0.2;
}
.container-custom .bg-posts span {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.container-custom .custom-div-post {
  width: 100%;
}
.container-custom .user-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100%;
}
.container-custom .user-name {
  font-size: 1.25rem;
  font-weight: bold;
}
.container-custom .btn-cancel {
  background-color: rgba(175, 25, 25, 0.6862745098);
  color: #000000;
  border: none;
  transition: background-color 0.3s ease;
}
.container-custom .btn-cancel:hover, .container-custom .btn-cancel:focus, .container-custom .btn-cancel:active {
  background-color: rgba(175, 25, 25, 0.6862745098);
  border-color: rgba(175, 25, 25, 0.6862745098);
}
.container-custom .btn-publish {
  background-color: #dddddd;
  color: rgb(0, 0, 0);
}
.container-custom .btn-publish:hover, .container-custom .btn-publish:focus, .container-custom .btn-publish:active {
  background-color: var(--c2);
}
.container-custom .w-100 {
  display: flex;
  height: 2rem;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.container-custom .btn {
  padding: 0.2rem;
  border: none;
}
.container-custom .post-display-col {
  background-color: var(--c3);
  padding: 10px;
  border-radius: 25px;
  align-items: center;
  max-width: 100%;
  box-shadow: 0px 3px 5px rgba(157, 50, 8, 0.6);
}
.container-custom .user-name-post {
  font-size: 1.25rem;
  font-weight: bold;
}
.container-custom .emotion-badge {
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  display: inline-block;
}
.container-custom .emotion-badge.feliz {
  background-color: var(--feliz);
}
.container-custom .emotion-badge.triste {
  background-color: var(--triste);
}
.container-custom .emotion-badge.enojado {
  background-color: var(--enojado);
}
.container-custom .emotion-badge.ansioso {
  background-color: var(--ansioso);
}
.container-custom .emotion-badge.motivado {
  background-color: var(--motivado);
}
.container-custom .emotion-badge.aburrido {
  background-color: var(--aburrido);
}/*# sourceMappingURL=Principal.css.map */