@charset "UTF-8";
:root {
  --border: 20px;
  --border2: 1rem;
  --shadow: 1px 1px 3px .5px;
  /* Colores de fondo claros */
  --c1: #46313d;
  --c2: #5f404d;
  --c3: #845d5f;
  --c4: #b77e78;
  --c5: #dcae8f;
  /* Colores de fondo oscuros */
  --o1: #1a0e15;
  --o2: #2d1a22;
  --o3: #4e2f30;
  --o4: #6e4b3b;
  --o5: #8f6c4f;
  /* Colores de texto ajustados */
  --textc1: #dcae8f;
  --textc2: #dcae8f;
  --textc3: #dcae8f;
  --textc4: #46313d;
  --textc5: #46313d;
  --feliz: #f4d35e;
  --txtfeliz: #654e04;
}

.container-rachas-pag {
  height: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  background-color: var(--c5);
  border-radius: var(--border);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* Para ocultar la barra de desplazamiento */
}
.container-rachas-pag ::-webkit-scrollbar {
  display: none;
}
.container-rachas-pag .rachas-contenedor {
  display: flex;
  justify-content: center; /* Centra las rachas horizontalmente */
  align-items: center; /* Alinea verticalmente */
  width: 100%;
  gap: 0; /* Elimina el espacio entre rachas */
  margin-bottom: 0;
}
.container-rachas-pag .rachas-contenedor .racha, .container-rachas-pag .rachas-contenedor .racha-maxima {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 40px; /* Ajusta el valor según sea necesario */
  background-color: var(--c3);
  border-radius: var(--border);
  width: 45%; /* Ajusta el ancho para cada racha */
  box-shadow: var(--shadow);
}
.container-rachas-pag .rachas-contenedor .racha .icono-racha img, .container-rachas-pag .rachas-contenedor .racha-maxima .icono-racha img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.container-rachas-pag .rachas-contenedor .racha .texto-racha, .container-rachas-pag .rachas-contenedor .racha-maxima .texto-racha {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-rachas-pag .rachas-contenedor .racha .texto-racha h2, .container-rachas-pag .rachas-contenedor .racha-maxima .texto-racha h2 {
  font-size: 24px;
  color: var(--textc3);
  margin: 0;
}
.container-rachas-pag .rachas-contenedor .racha .texto-racha span, .container-rachas-pag .rachas-contenedor .racha-maxima .texto-racha span {
  font-size: 18px;
  color: var(--feliz);
}
.container-rachas-pag .emocion-hoy {
  display: flex;
  padding: 10px;
  background-color: var(--c3);
  border-radius: var(--border);
  gap: 20px;
}
.container-rachas-pag .emocion-hoy .emocion, .container-rachas-pag .emocion-hoy .hora-alerta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.container-rachas-pag .emocion-hoy .emocion .txt-emocion, .container-rachas-pag .emocion-hoy .hora-alerta .txt-emocion {
  font-size: 20px;
  font-weight: bold;
  color: var(--textc3);
}
.container-rachas-pag .emocion-hoy .emocion span, .container-rachas-pag .emocion-hoy .hora-alerta span {
  font-size: 18px;
  color: var(--textc3);
  margin-bottom: 5px;
}
.container-rachas-pag .emocion-hoy .emocion .etiqueta-feliz, .container-rachas-pag .emocion-hoy .hora-alerta .etiqueta-feliz {
  background-color: var(--feliz);
  padding: 5px 10px;
  border-radius: var(--border2);
  color: var(--txtfeliz);
  font-weight: bold;
}
.container-rachas-pag .emocion-hoy .emocion .alerta, .container-rachas-pag .emocion-hoy .hora-alerta .alerta {
  font-size: 20px;
  font-weight: bold;
  color: var(--textc3);
}
.container-rachas-pag .emocion-hoy .emocion .hora, .container-rachas-pag .emocion-hoy .hora-alerta .hora {
  background-color: var(--c5);
  font-size: 19px;
  padding: 5px 10px;
  border-radius: var(--border2);
  color: var(--textc5);
}
.container-rachas-pag .txt-av-desbloquear {
  font-size: 25px;
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  margin: 0;
  color: var(--textc4);
}
.container-rachas-pag .avatares-desbloquear {
  padding: 20px;
  background-color: var(--c5);
  border-radius: var(--border);
  text-align: left; /* Alineamos el texto a la izquierda */
  overflow-y: scroll; /* Permite el desplazamiento vertical */
  max-height: 300px; /* Limita la altura máxima del contenedor */
  margin-bottom: -20px; /* Ajuste para evitar espacios extra si los hay */
  height: 100vh; /* Hace que el contenedor de avatares ocupe toda la altura */
  height: calc(100vh - 50px); /* Ajusta esta resta según el espacio necesario */
  max-height: none; /* Desactiva el límite anterior */
  margin-bottom: -20px; /* Ajuste de margen si es necesario */
  /* Para ocultar la barra de desplazamiento */
}
.container-rachas-pag .avatares-desbloquear ::-webkit-scrollbar {
  display: none;
}
.container-rachas-pag .avatares-desbloquear .avatar-container {
  display: flex; /* Usamos flex para tener una columna */
  flex-direction: column; /* Organizamos los avatares en columna */
  align-items: flex-start; /* Alineamos los avatares a la izquierda */
  gap: 5px; /* Espaciado entre los avatares */
}
.container-rachas-pag .avatares-desbloquear .avatar-container .avatar-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.container-rachas-pag .avatares-desbloquear .avatar-container .avatar-content .avatar {
  width: 100px; /* Ancho del avatar */
  height: 100px; /* Alto del avatar */
  background-color: #F6F6F6;
  border-radius: 20px; /* Bordes redondeados */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--textc5);
  overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
  margin: 10px 0; /* Margen superior e inferior */
}
.container-rachas-pag .avatares-desbloquear .avatar-container .avatar-content .avatar img {
  width: 100%; /* La imagen ocupará todo el cuadro */
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* La imagen se ajusta sin deformarse */
  border-radius: 20px; /* Redondea las esquinas de la imagen */
}
.container-rachas-pag .avatares-desbloquear .avatar-container .avatar-content .avatar.desbloqueado {
  background-color: var(--feliz);
  color: var(--txtfeliz);
}
.container-rachas-pag .avatares-desbloquear .avatar-container .avatar-content .texto-avatar {
  display: flex;
  flex-direction: column;
}
.container-rachas-pag .avatares-desbloquear .avatar-container .avatar-content .texto-avatar h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: var(--textc4);
}
.container-rachas-pag .avatares-desbloquear .avatar-container .avatar-content .texto-avatar p {
  font-size: 16px;
  margin: 5px 0 0;
}

/* Diseño responsive utilizando grid */
@media (max-width: 768px) {
  .container-rachas-pag {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .container-rachas-pag .racha,
  .container-rachas-pag .emocion-hoy,
  .container-rachas-pag .avatares-desbloquear {
    grid-column: 1/2;
  }
  .container-rachas-pag .emocion-hoy {
    flex-direction: column;
  }
  .container-rachas-pag .emocion,
  .container-rachas-pag .hora-alerta {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=rachas.css.map */